n8n/All-Workflows/archived/Google_Sheets_API.json
{
  "updatedAt": "2026-01-31T18:11:59.000Z",
  "createdAt": "2026-01-31T17:54:54.244Z",
  "id": "gaL9BjawHjx_g6BcCiz6v",
  "name": "Google Sheets API",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sheets-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4159a078-4b77-456c-b1e6-6dc7df9202af",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        208
      ],
      "webhookId": "e22c1323-cbe6-425a-953d-828498d8a430"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "9b3a4388-14eb-4f65-90ca-b129f20637a1",
      "name": "Extract Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "create"
            }
          ]
        }
      },
      "id": "018ff4d6-2a85-49f8-ae3d-b4fa22affd25",
      "name": "If Create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "read"
            }
          ]
        }
      },
      "id": "5b4bb4b1-6ba0-48d7-9c89-39649cc9c510",
      "name": "If Read",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "append"
            }
          ]
        }
      },
      "id": "272e7ea1-2c3f-44bf-ae74-b04994c4e8e0",
      "name": "If Append",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4"
        },
        "options": {}
      },
      "id": "a3f8cbdf-db52-475f-b7dc-e2eb052afe93",
      "name": "Create Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        256,
        -208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "=n8n-sheet",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b942aeaf-1fc2-4499-9b1a-83ab4344f677",
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        256,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "=n8n-sheet",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a9e39b7d-e95e-4fee-b562-e9dc2d4ec798",
      "name": "Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, data: $json}) }}",
        "options": {}
      },
      "id": "d83b18dc-5a8b-4bfb-92ad-679422bf353e",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        16
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Body": {
      "main": [
        [
          {
            "node": "If Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create": {
      "main": [
        [
          {
            "node": "Create Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Read": {
      "main": [
        [
          {
            "node": "Read Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Append": {
      "main": [
        [
          {
            "node": "Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Spreadsheet": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Row": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "01859abd-0ada-4e86-99b2-4bb10a0c34cf",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-31T17:54:54.250Z",
      "createdAt": "2026-01-31T17:54:54.250Z",
      "role": "workflow:owner",
      "workflowId": "gaL9BjawHjx_g6BcCiz6v",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}