n8n/All-Workflows/archived/Outlook_Daily_Email_Summary_For_Ramu.json
{
  "updatedAt": "2026-02-04T08:49:14.000Z",
  "createdAt": "2026-02-04T08:49:11.820Z",
  "id": "vLfVmNKGwGq1Ssa8v3EIy",
  "name": "Outlook Daily Email Summary (For Ramu)",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "content": "# \ud83d\udce7 Outlook Daily Email Summary\n\n**What this workflow does:**\nEvery morning, it reads all your unread Outlook emails, uses AI to summarize them, and sends you ONE email with everything you need to know.\n\n---\n\n## \u2705 Setup Steps:\n1. Connect your **Microsoft Outlook** account\n2. Add your **OpenAI API** key\n3. Update your **email address** in the last node\n4. Click **Activate** to turn it on!\n\n---\n\n**Created by:** AIwithDhruv\n**Support:** aiwithdhruv@gmail.com",
        "height": 420,
        "width": 340,
        "color": 2
      },
      "id": "a734a8e8-5732-43bb-94d3-9a54a5a317c7",
      "name": "Sticky Note - Introduction",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        32
      ]
    },
    {
      "parameters": {
        "content": "# \u23f0 STEP 1: Schedule\n\nThis triggers the workflow every day at **8:00 AM**.\n\n**To change time:**\nDouble-click the node and adjust the hour.",
        "height": 200,
        "color": 4
      },
      "id": "52c00844-8bdf-41fc-8709-9d6922b57668",
      "name": "Sticky Note - Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        32
      ]
    },
    {
      "parameters": {
        "content": "# \ud83d\udce5 STEP 2: Get Emails\n\nConnects to your **Outlook** and fetches all **unread emails** (up to 50).\n\n**\u26a0\ufe0f REQUIRED:**\nClick the node \u2192 Add your Microsoft Outlook credentials",
        "height": 200,
        "width": 260,
        "color": 6
      },
      "id": "7407db55-8fe5-4bab-a1a5-49cf91f26520",
      "name": "Sticky Note - Outlook",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        32
      ]
    },
    {
      "parameters": {
        "content": "# \ud83e\udd16 STEP 3: AI Magic\n\nSends your emails to **OpenAI** to create a smart summary with action items.\n\n**\u26a0\ufe0f REQUIRED:**\nClick the AI node \u2192 Add your OpenAI API key",
        "height": 200,
        "width": 280,
        "color": 7
      },
      "id": "2aaf9625-9e41-47cb-92a3-445d3778d666",
      "name": "Sticky Note - AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -80
      ]
    },
    {
      "parameters": {
        "content": "# \ud83d\udce4 STEP 4: Send Summary\n\nSends the beautiful summary email back to your Outlook inbox.\n\n**\u26a0\ufe0f REQUIRED:**\nChange `your_email@outlook.com` to your actual email address!",
        "height": 200,
        "width": 280,
        "color": 3
      },
      "id": "a7999b15-14d2-4bf7-8f28-e78886a95608",
      "name": "Sticky Note - Send",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -80
      ]
    },
    {
      "parameters": {
        "content": "# \ud83d\udca1 No Emails?\n\nIf there are no unread emails, the workflow stops here. No email will be sent.",
        "height": 140,
        "width": 220
      },
      "id": "ca1b94dd-5c73-4d88-b30a-5a37894f1765",
      "name": "Sticky Note - No Emails",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "9ea37229-acb0-4c91-86f8-3cd0956ae2e0",
      "name": "Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        224
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 50,
        "options": {}
      },
      "id": "ea0d5b8b-e93b-4f11-91ff-e0888018ad10",
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -688,
        224
      ],
      "webhookId": "00ad1a0c-d3fe-41be-99bf-39af39a8a41d"
    },
    {
      "parameters": {
        "functionCode": "// Extract email details for summarization\nconst emails = $input.all();\n\nif (emails.length === 0) {\n  return [{\n    json: {\n      hasEmails: false,\n      emailCount: 0,\n      summaryPrompt: \"No unread emails found.\",\n      emailList: []\n    }\n  }];\n}\n\nconst emailList = emails.map((email, index) => {\n  const data = email.json;\n  return {\n    index: index + 1,\n    from: data.from?.emailAddress?.name || data.from?.emailAddress?.address || 'Unknown',\n    fromEmail: data.from?.emailAddress?.address || '',\n    subject: data.subject || 'No subject',\n    preview: (data.bodyPreview || '').substring(0, 300),\n    receivedAt: data.receivedDateTime || '',\n    importance: data.importance || 'normal'\n  };\n});\n\n// Build prompt for AI summarization\nlet summaryPrompt = `You are an email assistant. Summarize the following ${emailList.length} unread emails into a clear, actionable morning briefing.\n\nFor each email, provide:\n- **From**: sender name\n- **Subject**: email subject  \n- **Summary**: 1-2 sentence summary\n- **Action**: what action is needed (Reply, Review, FYI, Urgent)\n\nHere are the emails:\n\n`;\n\nemailList.forEach(email => {\n  summaryPrompt += `---\nEmail ${email.index}:\nFrom: ${email.from} (${email.fromEmail})\nSubject: ${email.subject}\nImportance: ${email.importance}\nPreview: ${email.preview}\n\n`;\n});\n\nsummaryPrompt += `---\n\nPlease provide a structured summary with clear action items. Group by priority if needed.`;\n\nreturn [{\n  json: {\n    hasEmails: true,\n    emailCount: emailList.length,\n    summaryPrompt: summaryPrompt,\n    emailList: emailList\n  }\n}];"
      },
      "id": "0171c59b-3e89-4848-9e7e-c5b58f290424",
      "name": "Prepare Emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -464,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasEmails }}",
              "value2": true
            }
          ]
        }
      },
      "id": "11bc193d-4890-43e8-977a-a32dfe651872",
      "name": "Has Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional email assistant that creates concise, actionable email summaries.",
              "role": "system"
            },
            {
              "content": "={{ $json.summaryPrompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b8945ee-3777-4382-8446-f1789d8196c5",
      "name": "AI Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -32,
        128
      ]
    },
    {
      "parameters": {
        "functionCode": "// Format the AI summary into a nice HTML email\nconst aiSummary = $input.first().json.message?.content || $input.first().json.text || 'No summary generated';\nconst emailCount = $('Prepare Emails').first().json.emailCount;\n\nconst today = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' \n});\n\n// Convert markdown-style formatting to HTML\nlet formattedSummary = aiSummary\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\n/g, '<br>')\n  .replace(/---/g, '<hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 15px 0;\">');\n\nconst emailHtml = `\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto; background: #ffffff;\">\n  <div style=\"background: linear-gradient(135deg, #0078d4 0%, #106ebe 100%); padding: 25px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">\ud83d\udcec Your Morning Email Briefing</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 8px 0 0 0; font-size: 14px;\">${today}</p>\n  </div>\n  \n  <div style=\"padding: 25px; background: #f8fafc; border: 1px solid #e2e8f0;\">\n    <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #0078d4;\">\n      <p style=\"margin: 0 0 5px 0; font-size: 13px; color: #64748b;\">UNREAD EMAILS</p>\n      <p style=\"margin: 0; font-size: 28px; font-weight: bold; color: #0078d4;\">${emailCount}</p>\n    </div>\n  </div>\n  \n  <div style=\"padding: 25px;\">\n    <h2 style=\"color: #1e293b; font-size: 18px; margin: 0 0 20px 0; padding-bottom: 10px; border-bottom: 2px solid #0078d4;\">\n      \ud83d\udccb Summary & Action Items\n    </h2>\n    <div style=\"color: #334155; font-size: 14px; line-height: 1.8;\">\n      ${formattedSummary}\n    </div>\n  </div>\n  \n  <div style=\"padding: 20px 25px; background: #f1f5f9; border-radius: 0 0 8px 8px; border-top: 1px solid #e2e8f0;\">\n    <p style=\"margin: 0; font-size: 12px; color: #64748b; text-align: center;\">\n      \u26a1 Generated by n8n Workflow | Created by AIwithDhruv\n    </p>\n  </div>\n</div>\n`;\n\nreturn [{\n  json: {\n    emailSubject: \\`\ud83d\udcec Morning Briefing: \\${emailCount} Unread Emails - \\${today}\\`,\n    emailHtml: emailHtml,\n    emailCount: emailCount\n  }\n}];"
      },
      "id": "3a848686-aba4-4f14-9eb0-338e65851700",
      "name": "Format Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        128
      ]
    },
    {
      "parameters": {
        "toRecipients": "your_email@outlook.com",
        "subject": "={{ $json.emailSubject }}",
        "bodyContent": "={{ $json.emailHtml }}",
        "additionalFields": {}
      },
      "id": "ce6cf8fb-cdd5-4c0f-8ba6-09f680bd65ff",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        416,
        128
      ],
      "webhookId": "808ba11a-8f8e-409d-832b-e1acf01d2be4"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a78e0e23-88fd-498a-89ea-1134d44600cc",
      "name": "No Emails Today",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        320
      ]
    }
  ],
  "connections": {
    "Daily 8 AM": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Prepare Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Emails": {
      "main": [
        [
          {
            "node": "Has Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Emails?": {
      "main": [
        [
          {
            "node": "AI Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c3bc2579-d0d1-4e8f-9b52-c57bf1c998f6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-04T08:49:11.829Z",
      "createdAt": "2026-02-04T08:49:11.829Z",
      "role": "workflow:owner",
      "workflowId": "vLfVmNKGwGq1Ssa8v3EIy",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}