n8n/All-Workflows/active/4th_Jan_RAG_Upload_Euron_Data_to_Pincone.json
{
  "updatedAt": "2026-01-04T16:24:02.397Z",
  "createdAt": "2026-01-04T14:39:39.851Z",
  "id": "q7MmEV5DzfKTD4vZ",
  "name": "4th_Jan_RAG_Upload Euron Data to Pincone",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1z8aWJPl2h2whq-lHST7AxIMsvCaJTrSP",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -224
      ],
      "id": "a4fab6a6-819a-40c0-bbb8-319faa2b80fc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        -224
      ],
      "id": "226eeff9-b102-43e8-8728-b71956cb1e57",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "newairules",
          "mode": "list",
          "cachedResultName": "newairules"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -112,
        -224
      ],
      "id": "87a845a2-857a-4b8f-81a1-431d847f33f6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xLyMquXsrgdtehW9",
          "name": "PineconeApi_2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        80
      ],
      "id": "cb21072a-62fb-4127-981d-9ff5ccf6d08d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "t2xlHGBT89qC17Hp",
          "name": "RAG_Vector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Airules",
                "value": "={{ $json.originalFilename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        16
      ],
      "id": "2839de57-202a-41d9-b790-caa6738bf695",
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-02-07T08:33:21Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ba46a0fe-33c5-4e3e-b32e-ff704ecb0058",
  "activeVersionId": "ba46a0fe-33c5-4e3e-b32e-ff704ecb0058",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-04T14:39:39.864Z",
      "createdAt": "2026-01-04T14:39:39.864Z",
      "role": "workflow:owner",
      "workflowId": "q7MmEV5DzfKTD4vZ",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-04T16:30:20.000Z",
    "createdAt": "2026-01-04T16:22:17.390Z",
    "versionId": "ba46a0fe-33c5-4e3e-b32e-ff704ecb0058",
    "workflowId": "q7MmEV5DzfKTD4vZ",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1z8aWJPl2h2whq-lHST7AxIMsvCaJTrSP",
            "mode": "id"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -544,
          -224
        ],
        "id": "a4fab6a6-819a-40c0-bbb8-319faa2b80fc",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "etId49ji6y1gWG3l",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -336,
          -224
        ],
        "id": "226eeff9-b102-43e8-8728-b71956cb1e57",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "etId49ji6y1gWG3l",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "newairules",
            "mode": "list",
            "cachedResultName": "newairules"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -112,
          -224
        ],
        "id": "87a845a2-857a-4b8f-81a1-431d847f33f6",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "xLyMquXsrgdtehW9",
            "name": "PineconeApi_2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -288,
          80
        ],
        "id": "cb21072a-62fb-4127-981d-9ff5ccf6d08d",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "t2xlHGBT89qC17Hp",
            "name": "RAG_Vector"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "Airules",
                  "value": "={{ $json.originalFilename }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          80,
          16
        ],
        "id": "2839de57-202a-41d9-b790-caa6738bf695",
        "name": "Default Data Loader"
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhruv Tomar",
    "name": "Version ba46a0fe",
    "description": "",
    "autosaved": false
  },
  "tags": []
}