n8n/All-Workflows/active/BrowserAgent_1.json
{
  "updatedAt": "2025-10-01T16:48:36.000Z",
  "createdAt": "2025-10-01T16:48:36.589Z",
  "id": "YGpE8jb0SHh2q92A",
  "name": "BrowserAgent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "extraction",
        "operation": "query",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "37533486-5d2e-4493-9a63-00722ef28f85",
      "name": "Query",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        1552,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "window",
        "operation": "load",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "2486b67b-8f1a-4eb4-ae85-973082a38bae",
      "name": "Load URL",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        1664,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "interaction",
        "operation": "type",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "pressEnterKey": true,
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Search bars usually contain a placeholder that says \"search\"`, 'string') }}",
        "additionalFields": {}
      },
      "id": "4993015d-cb35-4718-840f-25899285d602",
      "name": "Type",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        1424,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "profileName": "={{ $json.profile_name }}",
        "additionalFields": {}
      },
      "id": "0283b18b-e952-491c-9857-9b1d8b142b06",
      "name": "Session",
      "type": "n8n-nodes-base.airtop",
      "position": [
        1152,
        400
      ],
      "typeVersion": 1,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "window",
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "getLiveView": true,
        "additionalFields": {}
      },
      "id": "919bc16b-b3b7-4c6f-9ba0-acf2d8c37348",
      "name": "Window",
      "type": "n8n-nodes-base.airtop",
      "position": [
        1328,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a0680af-39bd-4bc7-b9cd-84c1766c79a1",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Session').item.json.sessionId }}"
            },
            {
              "id": "13940ee8-c1d4-4718-a7b4-176c44c097b7",
              "name": "windowId",
              "type": "string",
              "value": "={{ $('Window').item.json.data.windowId }}"
            },
            {
              "id": "a0f2005c-2cd2-4a8d-891b-a4759b72a124",
              "name": "output",
              "type": "string",
              "value": "Session and window created successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "20bff861-9ac7-4fe4-a980-4f81d62ec59b",
      "name": "Return IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "profile_name"
            }
          ]
        }
      },
      "id": "c77fc1a9-adeb-49a8-a7a6-749ffab382c3",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        976,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "Start_Browser",
        "description": "Start a new browser session and window",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "46oHfCyZzDzPsCPm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `URL to load in the browser window`, 'string') }}",
            "profile_name": "=erictech"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "profile_name",
              "displayName": "profile_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "9a1b6492-5c78-4787-a6a8-62ab63dd966d",
      "name": "Start Browser",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1184,
        176
      ],
      "typeVersion": 2.1,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "terminate",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}"
      },
      "id": "fd7cf698-fac9-4af5-901c-1631adc5d1d0",
      "name": "End Session",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        1792,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        976,
        176
      ],
      "id": "cac8e2b1-65fe-480c-9066-1ece603483ff",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Log into my LinkedIn profile. Search for 'Developer Advocate' jobs in 'Canada' that were posted in the 'Past week'. Filter for jobs that have the 'Easy Apply' feature. Apply to the first 2 jobs that match these criteria. When prompted, use my most recent resume and default answers.",
        "options": {
          "systemMessage": "=# Overview\nYou are a smart, advanced web agent connected to tools that let you control a remote web browser. Your primary goal is to fulfill the human's request accurately and efficiently by interacting with web pages using your tools.\n\n## Tools\n\n### Start_Browser\n- Always begin with this tool.\n- It returns a `sessionId` and `windowId` which are **required** for all other tools.\n- You must include these IDs in every subsequent tool call.\n\n### Load URL\n- Loads a website in the browser window.\n- Pass the `sessionId`, `windowId`, and the desired URL (e.g., `\"https://www.bestbuy.com\"`).\n\n### Query\n- You don't have access to the browser screen but you can call this tool to get knowledge and hints of the current browser window.\n- Use this tool to retrieve information that the human asked for.\n\n### Click\n- Use this tool to click on elements like buttons.\n\n### Type\n- Use this to type text into a visible input field. This tool clicks Enter after typing the text so don't send [ENTER] commandes.\n\n### End Session\n- When the task is fully complete, use this tool to properly close the browser session.\n- You must ALWAYS USE THIS TOOL BEFORE RESPONDING TO THE HUMAN\n\n### Think\n- Use when you need to reflect on what you've done and think about what steps to take next\n\n\n## Important\n- Always think step-by-step. Use `Query` whenever you\u2019re unsure what\u2019s on the screen or what to click/type next.\n- You will NEVER need to login",
          "maxIterations": 20,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "id": "3d5854d4-1782-49ef-8f49-8db3ff9a793f",
      "name": "Browser Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1408,
        -96
      ],
      "retryOnFail": false,
      "typeVersion": 1.8,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "# Browser Agent\n",
        "height": 240,
        "width": 760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -176
      ],
      "id": "46fadfa0-ebf7-4c0c-ae47-26b4bef56bcc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Browser Tools\n",
        "height": 220,
        "width": 760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        96
      ],
      "id": "71e7eff8-e0d4-4671-9382-4a030433b73f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Think",
        "height": 220,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        96
      ],
      "id": "c16b6e3e-791e-47a7-9219-89a9d580f3d9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Model / Memory",
        "height": 240,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -176
      ],
      "id": "94f812ab-99cc-495a-a161-b7636d2027c2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Start Browser Tool",
        "height": 240,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        336
      ],
      "id": "6511160b-c4df-44c1-8fc5-4359b66fc198",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        -48
      ],
      "id": "d9fbccff-1c17-4574-bc3a-34e72c51f486",
      "name": "Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to click on an element",
        "method": "POST",
        "url": "=https://api.airtop.ai/api/v1/sessions/{{ $fromAI('sessionId') }}/windows/{{ $fromAI('windowId') }}/click",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "elementDescription",
              "value": "={{ $fromAI('elementDescription', `the element to click on in as much detail as possible`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1312,
        176
      ],
      "id": "c2ca5979-ce35-45a2-b8a5-4366f4b27c05",
      "name": "Click"
    },
    {
      "parameters": {
        "content": "### Quick Setup Guide\n\nHere are the key steps to get your remote browser agent up and running with n8n.\n\n1.  **Airtop API & Profiles**\n    * First, head over to [Airtop](https://www.airtop.ai/) to get your API key.\n    * If you need to log into websites like LinkedIn, create a **Profile** in Airtop and save your credentials there.\n\n2.  **Connect Your AI Model**\n    * You'll need an API key from an AI provider. In the video, I use OpenAI's **GPT-4 Turbo** as it gives the best results.\n    * Add this key to the **Chat Model** node in your n8n workflow.\n\n3.  **Link the Start Browser Tool**\n    * In n8n, make sure you connect your main agent workflow to your **Start Browser** workflow. This allows the agent to launch new browser sessions as needed.\n\n4.  **(Optional) Watch the Agent Live**\n    * To see your agent working in real-time, you can have the **Start Browser** workflow send the live session link to a Google Sheet, just like I did in the video.",
        "height": 480,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -160
      ],
      "id": "ee42c49f-308a-43e8-b499-da681b2bc6e8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IbcRfW7ovwS_IaNfQ5i9KMEKFWBPmeytwpYjwWea90Y",
          "mode": "list",
          "cachedResultName": "Browser Agent",
          "cachedResultUrl": "google-sheets"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "google sheets link"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Liveview URL": "={{ $json.data.liveViewUrl }}",
            "Date": "={{$now.format('yyyy-MM-dd HH:mm')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Liveview URL",
              "displayName": "Liveview URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1552,
        400
      ],
      "id": "08e7c0da-2757-4a2a-9d6c-b6ac17779c7c",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1216,
        -96
      ],
      "id": "caf8c907-7aa8-46e1-bf1a-81296ee5e9b2",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        -96
      ],
      "id": "84bc8644-f4ee-4ca2-bb19-ccfb5ecf40f9",
      "name": "OpenAI Chat Model1"
    }
  ],
  "connections": {
    "Type": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session": {
      "main": [
        [
          {
            "node": "Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load URL": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Browser": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "End Session": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Return IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Browser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "809d7d90-646b-43ca-9660-3244dd320f54",
  "activeVersionId": "809d7d90-646b-43ca-9660-3244dd320f54",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-01T16:48:36.592Z",
      "createdAt": "2025-10-01T16:48:36.592Z",
      "role": "workflow:owner",
      "workflowId": "YGpE8jb0SHh2q92A",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-15T19:16:15.923Z",
    "createdAt": "2025-12-15T19:16:15.923Z",
    "versionId": "809d7d90-646b-43ca-9660-3244dd320f54",
    "workflowId": "YGpE8jb0SHh2q92A",
    "nodes": [
      {
        "parameters": {
          "resource": "extraction",
          "operation": "query",
          "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}",
          "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}",
          "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
          "additionalFields": {}
        },
        "id": "37533486-5d2e-4493-9a63-00722ef28f85",
        "name": "Query",
        "type": "n8n-nodes-base.airtopTool",
        "position": [
          1552,
          176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "window",
          "operation": "load",
          "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}",
          "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}",
          "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
          "additionalFields": {}
        },
        "id": "2486b67b-8f1a-4eb4-ae85-973082a38bae",
        "name": "Load URL",
        "type": "n8n-nodes-base.airtopTool",
        "position": [
          1664,
          176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "interaction",
          "operation": "type",
          "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}",
          "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}",
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
          "pressEnterKey": true,
          "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Search bars usually contain a placeholder that says \"search\"`, 'string') }}",
          "additionalFields": {}
        },
        "id": "4993015d-cb35-4718-840f-25899285d602",
        "name": "Type",
        "type": "n8n-nodes-base.airtopTool",
        "position": [
          1424,
          176
        ],
        "typeVersion": 1,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "profileName": "={{ $json.profile_name }}",
          "additionalFields": {}
        },
        "id": "0283b18b-e952-491c-9857-9b1d8b142b06",
        "name": "Session",
        "type": "n8n-nodes-base.airtop",
        "position": [
          1152,
          400
        ],
        "typeVersion": 1,
        "executeOnce": true
      },
      {
        "parameters": {
          "resource": "window",
          "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
          "getLiveView": true,
          "additionalFields": {}
        },
        "id": "919bc16b-b3b7-4c6f-9ba0-acf2d8c37348",
        "name": "Window",
        "type": "n8n-nodes-base.airtop",
        "position": [
          1328,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0a0680af-39bd-4bc7-b9cd-84c1766c79a1",
                "name": "sessionId",
                "type": "string",
                "value": "={{ $('Session').item.json.sessionId }}"
              },
              {
                "id": "13940ee8-c1d4-4718-a7b4-176c44c097b7",
                "name": "windowId",
                "type": "string",
                "value": "={{ $('Window').item.json.data.windowId }}"
              },
              {
                "id": "a0f2005c-2cd2-4a8d-891b-a4759b72a124",
                "name": "output",
                "type": "string",
                "value": "Session and window created successfully"
              }
            ]
          },
          "options": {}
        },
        "id": "20bff861-9ac7-4fe4-a980-4f81d62ec59b",
        "name": "Return IDs",
        "type": "n8n-nodes-base.set",
        "position": [
          1744,
          400
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "url"
              },
              {
                "name": "profile_name"
              }
            ]
          }
        },
        "id": "c77fc1a9-adeb-49a8-a7a6-749ffab382c3",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          976,
          400
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "name": "Start_Browser",
          "description": "Start a new browser session and window",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "46oHfCyZzDzPsCPm"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `URL to load in the browser window`, 'string') }}",
              "profile_name": "=erictech"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "url",
                "displayName": "url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "profile_name",
                "displayName": "profile_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "9a1b6492-5c78-4787-a6a8-62ab63dd966d",
        "name": "Start Browser",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          1184,
          176
        ],
        "typeVersion": 2.1,
        "executeOnce": true
      },
      {
        "parameters": {
          "operation": "terminate",
          "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}"
        },
        "id": "fd7cf698-fac9-4af5-901c-1631adc5d1d0",
        "name": "End Session",
        "type": "n8n-nodes-base.airtopTool",
        "position": [
          1792,
          176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1,
        "position": [
          976,
          176
        ],
        "id": "cac8e2b1-65fe-480c-9066-1ece603483ff",
        "name": "Think"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Log into my LinkedIn profile. Search for 'Developer Advocate' jobs in 'Canada' that were posted in the 'Past week'. Filter for jobs that have the 'Easy Apply' feature. Apply to the first 2 jobs that match these criteria. When prompted, use my most recent resume and default answers.",
          "options": {
            "systemMessage": "=# Overview\nYou are a smart, advanced web agent connected to tools that let you control a remote web browser. Your primary goal is to fulfill the human's request accurately and efficiently by interacting with web pages using your tools.\n\n## Tools\n\n### Start_Browser\n- Always begin with this tool.\n- It returns a `sessionId` and `windowId` which are **required** for all other tools.\n- You must include these IDs in every subsequent tool call.\n\n### Load URL\n- Loads a website in the browser window.\n- Pass the `sessionId`, `windowId`, and the desired URL (e.g., `\"https://www.bestbuy.com\"`).\n\n### Query\n- You don't have access to the browser screen but you can call this tool to get knowledge and hints of the current browser window.\n- Use this tool to retrieve information that the human asked for.\n\n### Click\n- Use this tool to click on elements like buttons.\n\n### Type\n- Use this to type text into a visible input field. This tool clicks Enter after typing the text so don't send [ENTER] commandes.\n\n### End Session\n- When the task is fully complete, use this tool to properly close the browser session.\n- You must ALWAYS USE THIS TOOL BEFORE RESPONDING TO THE HUMAN\n\n### Think\n- Use when you need to reflect on what you've done and think about what steps to take next\n\n\n## Important\n- Always think step-by-step. Use `Query` whenever you\u2019re unsure what\u2019s on the screen or what to click/type next.\n- You will NEVER need to login",
            "maxIterations": 20,
            "returnIntermediateSteps": false,
            "passthroughBinaryImages": true
          }
        },
        "id": "3d5854d4-1782-49ef-8f49-8db3ff9a793f",
        "name": "Browser Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          1408,
          -96
        ],
        "retryOnFail": false,
        "typeVersion": 1.8,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "content": "# Browser Agent\n",
          "height": 240,
          "width": 760,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1152,
          -176
        ],
        "id": "46fadfa0-ebf7-4c0c-ae47-26b4bef56bcc",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Browser Tools\n",
          "height": 220,
          "width": 760,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1152,
          96
        ],
        "id": "71e7eff8-e0d4-4671-9382-4a030433b73f",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Think",
          "height": 220,
          "width": 260,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          96
        ],
        "id": "c16b6e3e-791e-47a7-9219-89a9d580f3d9",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Model / Memory",
          "height": 240,
          "width": 260,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          -176
        ],
        "id": "94f812ab-99cc-495a-a161-b7636d2027c2",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Start Browser Tool",
          "height": 240,
          "width": 1040,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          336
        ],
        "id": "6511160b-c4df-44c1-8fc5-4359b66fc198",
        "name": "Sticky Note5"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1024,
          -48
        ],
        "id": "d9fbccff-1c17-4574-bc3a-34e72c51f486",
        "name": "Memory"
      },
      {
        "parameters": {
          "toolDescription": "Use this tool to click on an element",
          "method": "POST",
          "url": "=https://api.airtop.ai/api/v1/sessions/{{ $fromAI('sessionId') }}/windows/{{ $fromAI('windowId') }}/click",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "elementDescription",
                "value": "={{ $fromAI('elementDescription', `the element to click on in as much detail as possible`, 'string') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          1312,
          176
        ],
        "id": "c2ca5979-ce35-45a2-b8a5-4366f4b27c05",
        "name": "Click"
      },
      {
        "parameters": {
          "content": "### Quick Setup Guide\n\nHere are the key steps to get your remote browser agent up and running with n8n.\n\n1.  **Airtop API & Profiles**\n    * First, head over to [Airtop](https://www.airtop.ai/) to get your API key.\n    * If you need to log into websites like LinkedIn, create a **Profile** in Airtop and save your credentials there.\n\n2.  **Connect Your AI Model**\n    * You'll need an API key from an AI provider. In the video, I use OpenAI's **GPT-4 Turbo** as it gives the best results.\n    * Add this key to the **Chat Model** node in your n8n workflow.\n\n3.  **Link the Start Browser Tool**\n    * In n8n, make sure you connect your main agent workflow to your **Start Browser** workflow. This allows the agent to launch new browser sessions as needed.\n\n4.  **(Optional) Watch the Agent Live**\n    * To see your agent working in real-time, you can have the **Start Browser** workflow send the live session link to a Google Sheet, just like I did in the video.",
          "height": 480,
          "width": 660
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          144,
          -160
        ],
        "id": "ee42c49f-308a-43e8-b499-da681b2bc6e8",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1IbcRfW7ovwS_IaNfQ5i9KMEKFWBPmeytwpYjwWea90Y",
            "mode": "list",
            "cachedResultName": "Browser Agent",
            "cachedResultUrl": "google-sheets"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "google sheets link"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Liveview URL": "={{ $json.data.liveViewUrl }}",
              "Date": "={{$now.format('yyyy-MM-dd HH:mm')}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Liveview URL",
                "displayName": "Liveview URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1552,
          400
        ],
        "id": "08e7c0da-2757-4a2a-9d6c-b6ac17779c7c",
        "name": "Google Sheets"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          1216,
          -96
        ],
        "id": "caf8c907-7aa8-46e1-bf1a-81296ee5e9b2",
        "name": "Schedule Trigger",
        "disabled": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4-turbo",
            "mode": "list",
            "cachedResultName": "gpt-4-turbo"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          912,
          -96
        ],
        "id": "84bc8644-f4ee-4ca2-bb19-ccfb5ecf40f9",
        "name": "OpenAI Chat Model1"
      }
    ],
    "connections": {
      "Type": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Query": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Window": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Session": {
        "main": [
          [
            {
              "node": "Window",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load URL": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Browser": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "End Session": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Memory": {
        "ai_memory": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Click": {
        "ai_tool": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Return IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Browser Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Browser Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}