n8n/All-Workflows/active/Calender_Agent.json
{
  "updatedAt": "2026-01-31T12:07:42.892Z",
  "createdAt": "2025-12-20T14:13:45.452Z",
  "id": "teaBSbleCK34Tw7b",
  "name": "Calender_Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b0260e-b995-4409-8722-5f8fb7355d22",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b1dc5ad-6100-452d-83ac-8b7039bfd4d5",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        160
      ],
      "id": "557c1c10-21e9-412c-95a0-1c883fcf3ed1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        96,
        560
      ],
      "id": "cf997ff4-b992-440c-b5db-c7bdff8efee3",
      "name": "updateEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        560
      ],
      "id": "0ac9d531-4d44-4b7a-b373-dd5b19726d03",
      "name": "deleteEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -208,
        544
      ],
      "id": "eeb6c2e2-0726-4577-937a-aa250740e9aa",
      "name": "getEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -336,
        544
      ],
      "id": "2b16e44f-584a-4cc1-bb66-0541edae6207",
      "name": "createEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -64,
        544
      ],
      "id": "1e40aecc-852d-499c-9788-2aadaa7d0d48",
      "name": "createEventWithAttendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role  \nYou are a calendar agent. Your tasks include creating, retrieving, and deleting events in the user's calendar.  \n\n# Tools  \n\n## getEvents  \nUse this tool to retrieve calendar schedules upon request.  \n\n## createEvent  \nUse this tool to create a solo appointment.  \n\n## updateEvent  \nUse this tool to update an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be updated.  \n\n## createEventWithAttendee  \nUse this tool to schedule an event with attendees.  \n\n## deleteEvent  \nUse this tool to delete an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be deleted.  \n\n  \ndate/time: **{{ $now }}**  \n\n\n## Think \n\u2022 Use the tool to think about something.\n\n"
        }
      },
      "id": "87487320-62a4-462d-be2a-8c14a505adf3",
      "name": "Calender Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -448,
        160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -656,
        384
      ],
      "id": "c5592e29-4e16-439e-b3c1-a6e647484380",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -496,
        448
      ],
      "id": "a41664d1-a651-4ee3-8313-8bff8659477f",
      "name": "grok-4.1 fast",
      "credentials": {
        "openRouterApi": {
          "id": "5NHf7ILbLoMVxKcb",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calender Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateEvent": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deleteEvent": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEvents": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEvent": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEventWithAttendee": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "grok-4.1 fast": {
      "ai_languageModel": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4aa21604-6d69-43f3-9cd1-83d091fc6350",
  "activeVersionId": "a3b9a6ee-6350-40a0-b279-262b70734175",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-20T14:13:45.457Z",
      "createdAt": "2025-12-20T14:13:45.457Z",
      "role": "workflow:owner",
      "workflowId": "teaBSbleCK34Tw7b",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-21T15:17:20.000Z",
    "createdAt": "2025-12-21T15:17:18.350Z",
    "versionId": "a3b9a6ee-6350-40a0-b279-262b70734175",
    "workflowId": "teaBSbleCK34Tw7b",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
                "name": "response",
                "value": "Unable to perform task. Please try again.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "b1b0260e-b995-4409-8722-5f8fb7355d22",
        "name": "Try Again",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
                "name": "=response",
                "value": "={{$json.output}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4b1dc5ad-6100-452d-83ac-8b7039bfd4d5",
        "name": "Success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -688,
          160
        ],
        "id": "557c1c10-21e9-412c-95a0-1c883fcf3ed1",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "aiwithdhruv@gmail.com",
            "mode": "list",
            "cachedResultName": "aiwithdhruv@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          96,
          560
        ],
        "id": "cf997ff4-b992-440c-b5db-c7bdff8efee3",
        "name": "updateEvent",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "m1dWuBfvWEjtCte8",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "aiwithdhruv@gmail.com",
            "mode": "list",
            "cachedResultName": "aiwithdhruv@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          240,
          560
        ],
        "id": "0ac9d531-4d44-4b7a-b373-dd5b19726d03",
        "name": "deleteEvent",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "m1dWuBfvWEjtCte8",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "aiwithdhruv@gmail.com",
            "mode": "list",
            "cachedResultName": "aiwithdhruv@gmail.com"
          },
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -208,
          544
        ],
        "id": "eeb6c2e2-0726-4577-937a-aa250740e9aa",
        "name": "getEvents",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "m1dWuBfvWEjtCte8",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "aiwithdhruv@gmail.com",
            "mode": "list",
            "cachedResultName": "aiwithdhruv@gmail.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "attendees": [],
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -336,
          544
        ],
        "id": "2b16e44f-584a-4cc1-bb66-0541edae6207",
        "name": "createEvent",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "m1dWuBfvWEjtCte8",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "aiwithdhruv@gmail.com",
            "mode": "list",
            "cachedResultName": "aiwithdhruv@gmail.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "attendees": [
              "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
            ],
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -64,
          544
        ],
        "id": "1e40aecc-852d-499c-9788-2aadaa7d0d48",
        "name": "createEventWithAttendee",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "m1dWuBfvWEjtCte8",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "=# Role  \nYou are a calendar agent. Your tasks include creating, retrieving, and deleting events in the user's calendar.  \n\n# Tools  \n\n## getEvents  \nUse this tool to retrieve calendar schedules upon request.  \n\n## createEvent  \nUse this tool to create a solo appointment.  \n\n## updateEvent  \nUse this tool to update an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be updated.  \n\n## createEventWithAttendee  \nUse this tool to schedule an event with attendees.  \n\n## deleteEvent  \nUse this tool to delete an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be deleted.  \n\n  \ndate/time: **{{ $now }}**  \n\n\n## Think \n\u2022 Use the tool to think about something.\n\n"
          }
        },
        "id": "87487320-62a4-462d-be2a-8c14a505adf3",
        "name": "Calender Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -448,
          160
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1.1,
        "position": [
          -656,
          384
        ],
        "id": "c5592e29-4e16-439e-b3c1-a6e647484380",
        "name": "Think"
      },
      {
        "parameters": {
          "model": "x-ai/grok-4.1-fast",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -528,
          480
        ],
        "id": "a41664d1-a651-4ee3-8313-8bff8659477f",
        "name": "grok-4.1 fast",
        "credentials": {
          "openRouterApi": {
            "id": "5NHf7ILbLoMVxKcb",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Calender Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "updateEvent": {
        "ai_tool": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "deleteEvent": {
        "ai_tool": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "getEvents": {
        "ai_tool": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "createEvent": {
        "ai_tool": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "createEventWithAttendee": {
        "ai_tool": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calender Agent": {
        "main": [
          [
            {
              "node": "Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Try Again",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "grok-4.1 fast": {
        "ai_languageModel": [
          [
            {
              "node": "Calender Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhruv Tomar",
    "name": "Version a3b9a6ee",
    "description": "",
    "autosaved": false
  },
  "tags": []
}