n8n/All-Workflows/active/Daily_Motivation_Calls_-_Angelina_(Twilio).json
{
  "updatedAt": "2026-02-15T12:33:24.665Z",
  "createdAt": "2026-02-07T12:32:44.243Z",
  "id": "rqtJW3GFbdDOn0Gb",
  "name": "Daily Motivation Calls - Angelina (Twilio)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Determine time of day (IST = UTC + 5:30)\nconst now = new Date();\nconst utcH = now.getUTCHours();\nconst utcM = now.getUTCMinutes();\nconst totalMin = utcH * 60 + utcM + 330;\nconst istHour = Math.floor((totalMin % 1440) / 60);\n\nlet message = '';\nlet timeSlot = '';\n\nif (istHour >= 9 && istHour <= 11) {\n  timeSlot = 'morning';\n  message = \"Good morning Dhruv! Quick check-in from Angelina. Here's your morning push. Focus on your top 3 priorities today. Close those deals, create content, and keep building the pipeline. You've got the skills, now execute. Let's make today count! Have a great one.\";\n} else if (istHour >= 13 && istHour <= 15) {\n  timeSlot = 'afternoon';\n  message = \"Hey Dhruv, afternoon check-in! How's the progress? Remember, outreach first, then build. Don't get stuck in perfection. Ship it, test it, improve it. Check your pipeline, follow up on pending leads, and keep the momentum going. Back to work, you got this!\";\n} else {\n  timeSlot = 'evening';\n  message = \"Evening Dhruv! Hope you crushed it today. Before you wrap up, review what you accomplished, celebrate the wins, and set your top 3 priorities for tomorrow. Rest well tonight, recharge, and come back stronger. Angelina out, see you tomorrow morning!\";\n}\n\n// Build TwiML for Twilio direct call\nconst twiml = `<Response><Say voice=\"Polly.Joanna\" language=\"en-US\">${message}</Say><Pause length=\"1\"/><Say voice=\"Polly.Joanna\">Talk soon Dhruv!</Say></Response>`;\n\nreturn [{ json: { message, timeSlot, twiml, timestamp: now.toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        304
      ],
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Set Reminder Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/REDACTED_TWILIO_SID/Calls.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "+918770101822"
            },
            {
              "name": "From",
              "value": "+19036257896"
            },
            {
              "name": "Twiml",
              "value": "={{ $json.twiml }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        304
      ],
      "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
      "name": "Call Dhruv (Twilio)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8ByVimGgNLohhpOE",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "chatId": "637313836",
        "text": "=\ud83d\udcde **Angelina Reminder Call**\n\n\u23f0 Time: {{ $('Set Reminder Message').item.json.timeSlot }} slot\n\ud83d\udcca Call Status: {{ $json.status || 'queued' }}\n\ud83c\udd94 Call SID: {{ $json.sid || 'N/A' }}\n\ud83d\udcf1 Via: Twilio Direct (no Vapi cost)\n\n_Daily motivation call to Dhruv completed._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        304
      ],
      "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
      "name": "Log to Telegram",
      "webhookId": "86f55f04-d89f-41dd-97ae-5c634416f32f",
      "credentials": {
        "telegramApi": {
          "id": "oejH8VUyC9QHNPHe",
          "name": "Lead_Alert"
        }
      }
    },
    {
      "parameters": {
        "content": "## DAILY MOTIVATION CALLS - ANGELINA\n\nAngelina calls Dhruv 3x/day via **Twilio Direct** (no Vapi cost!):\n- \u2600\ufe0f 10:00 AM IST \u2192 Morning push (priorities)\n- \ud83d\udd25 2:00 PM IST \u2192 Afternoon check-in (progress)\n- \ud83c\udf19 7:00 PM IST \u2192 Evening wrap-up (review)\n\n**Call duration:** ~15 seconds (one-way TTS)\n**Voice:** Amazon Polly Joanna\n**Twilio Number:** +19036257896\n**Dhruv's Number:** +918770101822\n\n**Cron (UTC):** `30 4,8,13 * * *`\n\n**How it works:**\n1. Schedule fires 3x daily\n2. Code node picks time-appropriate message\n3. Builds TwiML (Text-to-Speech)\n4. Twilio calls Dhruv, speaks message, hangs up\n5. Telegram logs the call\n\n**To pause:** Deactivate workflow\n**To change times:** Edit cron in trigger\n\n**SETUP:** Create 'Twilio Basic Auth' credential:\n- Header Name: Authorization\n- Header Value: Basic [base64 of SID:Token]",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        144
      ],
      "id": "a1b2c3d4-5555-4aaa-bbbb-000000000005",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 17
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        304
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Wed & Sunday 5pm"
    }
  ],
  "connections": {
    "Set Reminder Message": {
      "main": [
        [
          {
            "node": "Call Dhruv (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Dhruv (Twilio)": {
      "main": [
        [
          {
            "node": "Log to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wed & Sunday 5pm": {
      "main": [
        [
          {
            "node": "Set Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:3x Daily (10AM, 2PM, 7PM IST)": {
      "recurrenceRules": []
    },
    "node:Sunday 5pm": {
      "recurrenceRules": []
    },
    "node:Wed & Sunday 5pm": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "dd85929b-ae97-4686-87ea-4ab104f20d17",
  "activeVersionId": "dd85929b-ae97-4686-87ea-4ab104f20d17",
  "versionCounter": 34,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T12:32:44.245Z",
      "createdAt": "2026-02-07T12:32:44.245Z",
      "role": "workflow:owner",
      "workflowId": "rqtJW3GFbdDOn0Gb",
      "projectId": "DT8YjHwLZsQjJqVc",
      "project": {
        "updatedAt": "2025-09-30T14:49:00.207Z",
        "createdAt": "2025-09-30T14:45:13.837Z",
        "id": "DT8YjHwLZsQjJqVc",
        "name": "Dhruv Tomar <dhruv70081@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "eeb2630f-4760-4254-9eb8-71cf49a24999",
        "projectRelations": [
          {
            "updatedAt": "2025-09-30T14:45:13.837Z",
            "createdAt": "2025-09-30T14:45:13.837Z",
            "userId": "eeb2630f-4760-4254-9eb8-71cf49a24999",
            "projectId": "DT8YjHwLZsQjJqVc",
            "user": {
              "updatedAt": "2026-02-20T21:05:29.000Z",
              "createdAt": "2025-09-30T14:45:13.204Z",
              "id": "eeb2630f-4760-4254-9eb8-71cf49a24999",
              "email": "dhruv70081@gmail.com",
              "firstName": "Dhruv",
              "lastName": "Tomar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-30T14:49:20.090Z",
                "personalization_survey_n8n_version": "1.113.3",
                "companySize": "<20",
                "companyType": "education",
                "automationGoalSm": [
                  "lead-generation"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "qbWjLjqmTXha48b0",
                "userActivatedAt": 1759559314268,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762350067664
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true,
                  "ragStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-15T12:33:25.000Z",
    "createdAt": "2026-02-15T12:33:24.666Z",
    "versionId": "dd85929b-ae97-4686-87ea-4ab104f20d17",
    "workflowId": "rqtJW3GFbdDOn0Gb",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Determine time of day (IST = UTC + 5:30)\nconst now = new Date();\nconst utcH = now.getUTCHours();\nconst utcM = now.getUTCMinutes();\nconst totalMin = utcH * 60 + utcM + 330;\nconst istHour = Math.floor((totalMin % 1440) / 60);\n\nlet message = '';\nlet timeSlot = '';\n\nif (istHour >= 9 && istHour <= 11) {\n  timeSlot = 'morning';\n  message = \"Good morning Dhruv! Quick check-in from Angelina. Here's your morning push. Focus on your top 3 priorities today. Close those deals, create content, and keep building the pipeline. You've got the skills, now execute. Let's make today count! Have a great one.\";\n} else if (istHour >= 13 && istHour <= 15) {\n  timeSlot = 'afternoon';\n  message = \"Hey Dhruv, afternoon check-in! How's the progress? Remember, outreach first, then build. Don't get stuck in perfection. Ship it, test it, improve it. Check your pipeline, follow up on pending leads, and keep the momentum going. Back to work, you got this!\";\n} else {\n  timeSlot = 'evening';\n  message = \"Evening Dhruv! Hope you crushed it today. Before you wrap up, review what you accomplished, celebrate the wins, and set your top 3 priorities for tomorrow. Rest well tonight, recharge, and come back stronger. Angelina out, see you tomorrow morning!\";\n}\n\n// Build TwiML for Twilio direct call\nconst twiml = `<Response><Say voice=\"Polly.Joanna\" language=\"en-US\">${message}</Say><Pause length=\"1\"/><Say voice=\"Polly.Joanna\">Talk soon Dhruv!</Say></Response>`;\n\nreturn [{ json: { message, timeSlot, twiml, timestamp: now.toISOString() } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          304
        ],
        "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
        "name": "Set Reminder Message"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.twilio.com/2010-04-01/Accounts/REDACTED_TWILIO_SID/Calls.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "To",
                "value": "+918770101822"
              },
              {
                "name": "From",
                "value": "+19036257896"
              },
              {
                "name": "Twiml",
                "value": "={{ $json.twiml }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          320,
          304
        ],
        "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
        "name": "Call Dhruv (Twilio)",
        "credentials": {
          "httpHeaderAuth": {
            "id": "8ByVimGgNLohhpOE",
            "name": "Twilio Basic Auth"
          }
        }
      },
      {
        "parameters": {
          "chatId": "637313836",
          "text": "=\ud83d\udcde **Angelina Reminder Call**\n\n\u23f0 Time: {{ $('Set Reminder Message').item.json.timeSlot }} slot\n\ud83d\udcca Call Status: {{ $json.status || 'queued' }}\n\ud83c\udd94 Call SID: {{ $json.sid || 'N/A' }}\n\ud83d\udcf1 Via: Twilio Direct (no Vapi cost)\n\n_Daily motivation call to Dhruv completed._",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          592,
          304
        ],
        "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
        "name": "Log to Telegram",
        "webhookId": "86f55f04-d89f-41dd-97ae-5c634416f32f",
        "credentials": {
          "telegramApi": {
            "id": "oejH8VUyC9QHNPHe",
            "name": "Lead_Alert"
          }
        }
      },
      {
        "parameters": {
          "content": "## DAILY MOTIVATION CALLS - ANGELINA\n\nAngelina calls Dhruv 3x/day via **Twilio Direct** (no Vapi cost!):\n- \u2600\ufe0f 10:00 AM IST \u2192 Morning push (priorities)\n- \ud83d\udd25 2:00 PM IST \u2192 Afternoon check-in (progress)\n- \ud83c\udf19 7:00 PM IST \u2192 Evening wrap-up (review)\n\n**Call duration:** ~15 seconds (one-way TTS)\n**Voice:** Amazon Polly Joanna\n**Twilio Number:** +19036257896\n**Dhruv's Number:** +918770101822\n\n**Cron (UTC):** `30 4,8,13 * * *`\n\n**How it works:**\n1. Schedule fires 3x daily\n2. Code node picks time-appropriate message\n3. Builds TwiML (Text-to-Speech)\n4. Twilio calls Dhruv, speaks message, hangs up\n5. Telegram logs the call\n\n**To pause:** Deactivate workflow\n**To change times:** Edit cron in trigger\n\n**SETUP:** Create 'Twilio Basic Auth' credential:\n- Header Name: Authorization\n- Header Value: Basic [base64 of SID:Token]",
          "height": 540,
          "width": 400,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -576,
          144
        ],
        "id": "a1b2c3d4-5555-4aaa-bbbb-000000000005",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtHour": 17
              },
              {
                "field": "weeks",
                "triggerAtDay": [
                  3
                ],
                "triggerAtHour": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -144,
          304
        ],
        "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
        "name": "Wed & Sunday 5pm"
      }
    ],
    "connections": {
      "Set Reminder Message": {
        "main": [
          [
            {
              "node": "Call Dhruv (Twilio)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Dhruv (Twilio)": {
        "main": [
          [
            {
              "node": "Log to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wed & Sunday 5pm": {
        "main": [
          [
            {
              "node": "Set Reminder Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhruv Tomar",
    "name": "Version dd85929b",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-15T12:33:25.975Z",
        "id": 321,
        "workflowId": "rqtJW3GFbdDOn0Gb",
        "versionId": "dd85929b-ae97-4686-87ea-4ab104f20d17",
        "event": "activated",
        "userId": "eeb2630f-4760-4254-9eb8-71cf49a24999"
      }
    ]
  }
}