n8n/All-Workflows/active/My_workflow_16.json
{
  "updatedAt": "2026-01-25T12:44:50.451Z",
  "createdAt": "2026-01-25T12:27:48.831Z",
  "id": "j4wc0JWyba1FzXLFEDcSz",
  "name": "My workflow 16",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        16
      ],
      "id": "36e468f3-2deb-46db-a33e-463f68d25d18",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -384,
        16
      ],
      "id": "0dba62a4-af9c-42a3-84ca-5630e4de0d36",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "yQBXTsCDXKfN6mMw",
          "name": "Gen_AI.2.O"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -448,
        240
      ],
      "id": "332b9f51-3d04-4463-ad89-dcb6c6852c2d",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "t2xlHGBT89qC17Hp",
          "name": "RAG_Vector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -240,
        224
      ],
      "id": "13e73867-eb60-440e-98e5-0980feca61f5",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! \ud83d\udc4b\nMy name is Dhruv. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "66406046-c074-4c67-af68-2ad17a21bae0",
      "name": "When chat message received",
      "webhookId": "1f48be7f-f302-433e-ae8e-b64c5ba209e5"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "2311cb51-44ee-4f86-9ba7-7921061d7ee1",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "5NHf7ILbLoMVxKcb",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool to provide informatioin to user",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        464,
        208
      ],
      "id": "48422b15-cf0e-4a41-b83e-df675dde2c7c",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "yQBXTsCDXKfN6mMw",
          "name": "Gen_AI.2.O"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        416
      ],
      "id": "13a106df-3643-4069-af5f-df609a9658ec",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "t2xlHGBT89qC17Hp",
          "name": "RAG_Vector"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "id": "20cdc5cb-c335-48c1-a43a-474cd55eafd3",
      "name": "supabase",
      "credentials": {
        "postgres": {
          "id": "vzstwkVT3SKI8L0J",
          "name": "supabse_5"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1aMI9nsxYbmTm5YiEIIf4fJ4EnTrc2cyo",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        16
      ],
      "id": "84ca3937-5126-4e4e-8ef6-a44a9069f0bf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=use supabse to answer query came from user"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "d963ec07-0aa8-4017-8e12-31ef83330cd5",
      "name": "Dhruv RAG"
    }
  ],
  "connections": {
    "Download file2": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Dhruv RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Dhruv RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "Dhruv RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "supabase": {
      "ai_memory": [
        [
          {
            "node": "Dhruv RAG",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3c13ae7e-5010-441a-b2dc-e09a4bdb8223",
  "activeVersionId": "3c13ae7e-5010-441a-b2dc-e09a4bdb8223",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-25T12:27:48.836Z",
      "createdAt": "2026-01-25T12:27:48.836Z",
      "role": "workflow:owner",
      "workflowId": "j4wc0JWyba1FzXLFEDcSz",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-25T12:46:36.000Z",
    "createdAt": "2026-01-25T12:44:50.451Z",
    "versionId": "3c13ae7e-5010-441a-b2dc-e09a4bdb8223",
    "workflowId": "j4wc0JWyba1FzXLFEDcSz",
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -576,
          16
        ],
        "id": "36e468f3-2deb-46db-a33e-463f68d25d18",
        "name": "Download file2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "etId49ji6y1gWG3l",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          -384,
          16
        ],
        "id": "0dba62a4-af9c-42a3-84ca-5630e4de0d36",
        "name": "Supabase Vector Store2",
        "credentials": {
          "supabaseApi": {
            "id": "yQBXTsCDXKfN6mMw",
            "name": "Gen_AI.2.O"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -448,
          240
        ],
        "id": "332b9f51-3d04-4463-ad89-dcb6c6852c2d",
        "name": "Embeddings OpenAI2",
        "credentials": {
          "openAiApi": {
            "id": "t2xlHGBT89qC17Hp",
            "name": "RAG_Vector"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          -240,
          224
        ],
        "id": "13e73867-eb60-440e-98e5-0980feca61f5",
        "name": "Default Data Loader1"
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Hi there! \ud83d\udc4b\nMy name is Dhruv. How can I assist you today?",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          0,
          0
        ],
        "id": "66406046-c074-4c67-af68-2ad17a21bae0",
        "name": "When chat message received",
        "webhookId": "1f48be7f-f302-433e-ae8e-b64c5ba209e5"
      },
      {
        "parameters": {
          "model": "google/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          96,
          208
        ],
        "id": "2311cb51-44ee-4f86-9ba7-7921061d7ee1",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "5NHf7ILbLoMVxKcb",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "use this tool to provide informatioin to user",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          464,
          208
        ],
        "id": "48422b15-cf0e-4a41-b83e-df675dde2c7c",
        "name": "Supabase Vector Store3",
        "credentials": {
          "supabaseApi": {
            "id": "yQBXTsCDXKfN6mMw",
            "name": "Gen_AI.2.O"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          384,
          416
        ],
        "id": "13a106df-3643-4069-af5f-df609a9658ec",
        "name": "Embeddings OpenAI3",
        "credentials": {
          "openAiApi": {
            "id": "t2xlHGBT89qC17Hp",
            "name": "RAG_Vector"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          240,
          208
        ],
        "id": "20cdc5cb-c335-48c1-a43a-474cd55eafd3",
        "name": "supabase",
        "credentials": {
          "postgres": {
            "id": "vzstwkVT3SKI8L0J",
            "name": "supabse_5"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1aMI9nsxYbmTm5YiEIIf4fJ4EnTrc2cyo",
            "mode": "id"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -784,
          16
        ],
        "id": "84ca3937-5126-4e4e-8ef6-a44a9069f0bf",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "etId49ji6y1gWG3l",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "=use supabse to answer query came from user"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          192,
          0
        ],
        "id": "d963ec07-0aa8-4017-8e12-31ef83330cd5",
        "name": "Dhruv RAG"
      }
    ],
    "connections": {
      "Download file2": {
        "main": [
          [
            {
              "node": "Supabase Vector Store2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Supabase Vector Store2",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Dhruv RAG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Dhruv RAG",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store3": {
        "ai_tool": [
          [
            {
              "node": "Dhruv RAG",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI3": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store3",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "supabase": {
        "ai_memory": [
          [
            {
              "node": "Dhruv RAG",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhruv Tomar",
    "name": "Version 3c13ae7e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}