n8n/All-Workflows/active/OnsiteUpload_data_from_Drive_to_Pinecone.json
{
  "updatedAt": "2025-12-31T10:17:48.308Z",
  "createdAt": "2025-12-29T15:00:53.892Z",
  "id": "mbxhJKeafeVgHGIb",
  "name": "OnsiteUpload data from Drive to Pinecone",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "179ZsHmez-GA0HrCmbJen0dxxAUCV8hx0",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -208
      ],
      "id": "92a48ff0-c0af-4ba9-8946-4128eae1aa2e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        -208
      ],
      "id": "7b44a72b-47d2-487c-bb58-4df2cfdb6582",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n29dec2025",
          "mode": "list",
          "cachedResultName": "n8n29dec2025"
        },
        "options": {
          "pineconeNamespace": "onsite"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        16,
        -208
      ],
      "id": "34347527-8430-474c-828e-2e7ca2469b55",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MFhxAgCQISGYTvZR",
          "name": "PineconeApi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        64
      ],
      "id": "42276b23-80d7-45de-bb6c-cbf41be48515",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "t2xlHGBT89qC17Hp",
          "name": "RAG_Vector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Onsite",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "b57c5e5f-00e3-4847-9448-a0bcf9b74d3c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "bb8c6534-cb05-4818-82e0-7f455f97c784",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-02-07T08:33:18Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e5cc7eca-aa48-4743-8e1f-ae5b528391e1",
  "activeVersionId": "e5cc7eca-aa48-4743-8e1f-ae5b528391e1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-29T15:00:53.901Z",
      "createdAt": "2025-12-29T15:00:53.901Z",
      "role": "workflow:owner",
      "workflowId": "mbxhJKeafeVgHGIb",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T17:35:19.000Z",
    "createdAt": "2025-12-29T15:32:05.678Z",
    "versionId": "e5cc7eca-aa48-4743-8e1f-ae5b528391e1",
    "workflowId": "mbxhJKeafeVgHGIb",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "179ZsHmez-GA0HrCmbJen0dxxAUCV8hx0",
            "mode": "id"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -400,
          -208
        ],
        "id": "92a48ff0-c0af-4ba9-8946-4128eae1aa2e",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "etId49ji6y1gWG3l",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -192,
          -208
        ],
        "id": "7b44a72b-47d2-487c-bb58-4df2cfdb6582",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "etId49ji6y1gWG3l",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "n8n29dec2025",
            "mode": "list",
            "cachedResultName": "n8n29dec2025"
          },
          "options": {
            "pineconeNamespace": "onsite"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          16,
          -208
        ],
        "id": "34347527-8430-474c-828e-2e7ca2469b55",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "MFhxAgCQISGYTvZR",
            "name": "PineconeApi"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -176,
          64
        ],
        "id": "42276b23-80d7-45de-bb6c-cbf41be48515",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "t2xlHGBT89qC17Hp",
            "name": "RAG_Vector"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "Onsite",
                  "value": "={{ $json.name }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          160,
          0
        ],
        "id": "b57c5e5f-00e3-4847-9448-a0bcf9b74d3c",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "chunkSize": 900,
          "chunkOverlap": 50,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          256,
          208
        ],
        "id": "bb8c6534-cb05-4818-82e0-7f455f97c784",
        "name": "Recursive Character Text Splitter"
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhruv Tomar",
    "name": "Version e5cc7eca",
    "description": "",
    "autosaved": false
  },
  "tags": []
}