n8n/All-Workflows/active/SecurityAI_-_Vapi_Sales_Follow-up.json
{
  "updatedAt": "2026-02-18T17:18:49.497Z",
  "createdAt": "2026-02-17T17:06:16.683Z",
  "id": "aeB7LxxNmLfJJEJC",
  "name": "SecurityAI - Vapi Sales Follow-up",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-sales-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "vapi-sales-followup",
      "id": "4ee0d69e-8f7b-4b06-baae-97f5c301372e"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from Vapi tool call\nconst body = $input.first().json.body || $input.first().json;\n\n// Vapi sends tool calls in this format\nlet args = {};\n\n// Handle different Vapi payload formats\nif (body.message && body.message.toolCallList) {\n  args = body.message.toolCallList[0].function.arguments;\n} else if (body.message && body.message.toolCalls) {\n  const toolCall = body.message.toolCalls[0];\n  args = typeof toolCall.function.arguments === 'string' \n    ? JSON.parse(toolCall.function.arguments) \n    : toolCall.function.arguments;\n} else if (body.toolCallList) {\n  args = body.toolCallList[0].function.arguments;\n} else if (body.recipient_email) {\n  // Direct payload (testing)\n  args = body;\n} else {\n  // Fallback: try to find args anywhere in the payload\n  args = body;\n}\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nreturn [{\n  json: {\n    email: args.recipient_email || '',\n    name: args.recipient_name || 'there',\n    company: args.company_name || 'your company',\n    action: args.action_type || 'send_info',\n    meeting_date: args.meeting_date || '',\n    meeting_time: args.meeting_time || '',\n    pain_points: args.pain_points || '',\n    summary: args.call_summary || '',\n    timestamp: dateStr\n  }\n}];"
      },
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ],
      "id": "ab014953-96aa-4869-b251-a165d0c7233c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "meeting_booked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Meeting"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Info"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "callback_scheduled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Callback"
            }
          ]
        },
        "options": {}
      },
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        304
      ],
      "id": "160fff4d-8241-42b9-b524-7cd9941c8eb8"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Demo Confirmed \u2014 AI Operations Platform for {{ $json.company }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n<h2 style=\"color: #1a1a2e;\">Hi {{ $json.name }},</h2>\n\n<p>Great speaking with you! As discussed, here are the details for our upcoming demo:</p>\n\n<div style=\"background: #f0f4ff; border-left: 4px solid #2563eb; padding: 15px; margin: 20px 0; border-radius: 4px;\">\n<strong>\ud83d\udcc5 Date:</strong> {{ $json.meeting_date }}<br>\n<strong>\ud83d\udd50 Time:</strong> {{ $json.meeting_time }}<br>\n<strong>\ud83d\udccd Format:</strong> Video call<br>\n<strong>\u23f1 Duration:</strong> 20 minutes\n</div>\n\n<p><strong>What we'll cover:</strong></p>\n<ul>\n<li>Live demo of the AI shift-filling agent making a real call</li>\n<li>How it integrates with your existing scheduling system</li>\n<li>ROI breakdown specific to {{ $json.company }}'s operations</li>\n<li>Q&A</li>\n</ul>\n\n<p style=\"color: #666; font-size: 14px; margin-top: 30px;\">\nLooking forward to showing you what this can do for {{ $json.company }}.<br>\nIf you need to reschedule, just reply to this email.\n</p>\n\n<p>\nBest,<br>\n<strong>Sophia \u2014 AI Operations Specialist</strong><br>\n<span style=\"color: #999; font-size: 13px;\">SecurityAI Platform</span>\n</p>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Send Meeting Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        160
      ],
      "id": "113e213b-9996-43a2-b7a7-8e814fc63b6f",
      "webhookId": "3bb70910-626c-49ba-804f-c3ac5b63ee5c",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=AI Operations Platform \u2014 Built for {{ $json.company }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n<h2 style=\"color: #1a1a2e;\">Hi {{ $json.name }},</h2>\n\n<p>Thanks for taking the call! As promised, here's a quick overview of what we do.</p>\n\n<h3>The Problem We Solve</h3>\n<p>Security companies lose <strong>$150K\u2013$300K/year</strong> on manual dispatch operations \u2014 slow shift filling, missed calls, overtime bleed, and compliance gaps.</p>\n\n<h3>What Our AI Platform Does</h3>\n<table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n<tr style=\"background: #f8f9fa;\"><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>Shift Fulfillment AI</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">Fills open shifts in &lt;5 min via automated waterfall calling</td></tr>\n<tr><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>24/7 AI Receptionist</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">Answers every inbound call, qualifies leads, books meetings</td></tr>\n<tr style=\"background: #f8f9fa;\"><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>Guard Safety Checks</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">Automated hourly check-ins for lone workers (OHS compliant)</td></tr>\n<tr><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>Smart Scheduling</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">AI confirms availability, handles call-in sick, updates systems</td></tr>\n</table>\n\n<h3>Results</h3>\n<ul>\n<li>\u26a1 Shift fill time: 45 min \u2192 under 5 min</li>\n<li>\ud83d\udcde Inbound answer rate: 100% (24/7)</li>\n<li>\ud83d\udcb0 $150K\u2013$300K saved annually</li>\n<li>\ud83d\udcca 90%+ fill rate without human intervention</li>\n</ul>\n\n<p><strong>Want to see it in action?</strong> Reply to this email and we'll set up a quick 20-minute live demo.</p>\n\n<p>\nBest,<br>\n<strong>Sophia \u2014 AI Operations Specialist</strong><br>\n<span style=\"color: #999; font-size: 13px;\">SecurityAI Platform</span>\n</p>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Send Info Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        320
      ],
      "id": "f8b3e2c1-8f01-47df-93d7-28a0a7cdee27",
      "webhookId": "3f254957-4c77-4b34-9304-0d83227d6778",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Following up \u2014 AI for {{ $json.company }} Operations",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px;\">\n<h2>Hi {{ $json.name }},</h2>\n<p>Thanks for your time on the call. As mentioned, I'll follow up at a better time.</p>\n<p>In the meantime, here's a quick summary:</p>\n<p style=\"background: #f0f4ff; padding: 15px; border-radius: 4px;\">\nWe help security companies automate shift filling (45 min \u2192 5 min), handle inbound calls 24/7 with AI, and save $150K-$300K/year in operational costs.\n</p>\n<p>When you're ready for a quick 20-minute demo, just reply to this email.</p>\n<p>Best,<br><strong>Sophia \u2014 AI Operations Specialist</strong></p>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Send Callback Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        480
      ],
      "id": "89ab1649-4f51-4d40-86b7-fb7cb9ce0fc5",
      "webhookId": "e773c5d4-b5fa-4ea1-8b2d-45da10542f42",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sales Calls",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Company": "={{ $json.company }}",
            "Email": "={{ $json.email }}",
            "Action": "={{ $json.action }}",
            "Meeting Date": "={{ $json.meeting_date }}",
            "Meeting Time": "={{ $json.meeting_time }}",
            "Pain Points": "={{ $json.pain_points }}",
            "Summary": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Time",
              "displayName": "Meeting Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pain Points",
              "displayName": "Pain Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        304
      ],
      "id": "4085dbd2-3000-4902-8895-13f7826daafd",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"results\": [{ \"result\": \"Email sent successfully to {{ $json.email }}. The prospect will receive the email shortly.\" }] }",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond to Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1808,
        304
      ],
      "id": "3f122941-b8e6-44e2-88dd-e222e7348ff6"
    },
    {
      "parameters": {
        "content": "## SecurityAI \u2014 Vapi Sales Follow-up Workflow\n\n**What this does:**\n1. Receives tool call from Vapi AI agent (Sophia) during live call\n2. Routes based on action type (meeting/info/callback)\n3. Sends professional HTML email instantly\n4. **If meeting booked**: AI parses date/time into ISO format\n5. Logs everything to Google Sheet\n6. Responds to Vapi so Sophia can confirm\n\n**TODO**: Add Google Calendar node after \"AI Parse DateTime\" (needs credential in UI)\n\n**Webhook URL:** `https://n8n.aiwithdhruv.cloud/webhook/vapi-sales-followup`",
        "height": 340,
        "width": 420,
        "color": 5
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -112
      ],
      "id": "8142a580-30c8-4119-aa93-93ab07dbd02c"
    },
    {
      "parameters": {
        "jsCode": "// Smart Date Parser + Calendar Formatter\nconst allData = $('Extract Call Data').first().json;\nconst dateStr = (allData.meeting_date || '').toLowerCase().trim();\nconst timeStr = (allData.meeting_time || '').toLowerCase().trim();\n\nif (!dateStr && !timeStr) {\n  return [{ json: { ...allData, calendar_ready: false } }];\n}\n\ntry {\n  const now = new Date();\n  let targetDate = new Date(now);\n  const days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\n  let foundDay = false;\n\n  for (let i = 0; i < days.length; i++) {\n    if (dateStr.includes(days[i])) {\n      let diff = i - now.getDay();\n      if (diff <= 0) diff += 7;\n      if (dateStr.includes('next')) diff += 7;\n      targetDate.setDate(now.getDate() + diff);\n      foundDay = true;\n      break;\n    }\n  }\n  if (!foundDay && dateStr.includes('tomorrow')) { targetDate.setDate(now.getDate() + 1); foundDay = true; }\n  if (!foundDay && dateStr.includes('today')) { foundDay = true; }\n  if (!foundDay) {\n    const parsed = new Date(dateStr);\n    if (!isNaN(parsed.getTime()) && parsed.getFullYear() > 2020) { targetDate = parsed; foundDay = true; }\n    else {\n      const mm = dateStr.match(/(jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec)\\w*\\s+(\\d{1,2})/);\n      if (mm) {\n        const months = {jan:0,feb:1,mar:2,apr:3,may:4,jun:5,jul:6,aug:7,sep:8,oct:9,nov:10,dec:11};\n        targetDate = new Date(now.getFullYear(), months[mm[1].substring(0,3)], parseInt(mm[2]));\n        if (targetDate < now) targetDate.setFullYear(now.getFullYear() + 1);\n        foundDay = true;\n      }\n    }\n  }\n  if (!foundDay) {\n    let add = 1;\n    if (now.getDay() === 5) add = 3;\n    if (now.getDay() === 6) add = 2;\n    targetDate.setDate(now.getDate() + add);\n  }\n\n  let hours = 14, minutes = 0;\n  const combined = dateStr + ' ' + timeStr;\n  const tm = combined.match(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/i);\n  if (tm) {\n    hours = parseInt(tm[1]);\n    minutes = tm[2] ? parseInt(tm[2]) : 0;\n    const p = (tm[3] || '').toLowerCase();\n    if (p === 'pm' && hours < 12) hours += 12;\n    if (p === 'am' && hours === 12) hours = 0;\n    if (!p && hours >= 1 && hours <= 7) hours += 12;\n  }\n\n  targetDate.setHours(hours, minutes, 0, 0);\n  const endDate = new Date(targetDate);\n  endDate.setMinutes(endDate.getMinutes() + 20);\n\n  const fmt = (d) => {\n    const p = (n) => String(n).padStart(2, '0');\n    // Include EST timezone offset so Google Calendar creates event in Toronto time\n    return d.getFullYear() + '-' + p(d.getMonth()+1) + '-' + p(d.getDate()) + 'T' + p(d.getHours()) + ':' + p(d.getMinutes()) + ':00';\n  };\n\n  // Pre-format calendar fields so Calendar node uses simple expressions\n  const eventTitle = 'Demo: ' + (allData.company || 'Prospect') + ' - AI Operations Platform';\n  const eventDesc = 'Live demo of AI shift-filling and operations automation.\\n\\nAttendee: ' + (allData.name || '') + ' (' + (allData.company || '') + ')\\nEmail: ' + (allData.email || '') + '\\nPain Points: ' + (allData.pain_points || 'N/A') + '\\nCall Summary: ' + (allData.summary || 'N/A');\n\n  return [{ json: {\n    ...allData,\n    start_datetime: fmt(targetDate),\n    end_datetime: fmt(endDate),\n    timezone: 'America/Toronto',\n    event_title: eventTitle,\n    event_description: eventDesc,\n    calendar_ready: true\n  }}];\n} catch (err) {\n  return [{ json: { ...allData, calendar_ready: false, parse_error: String(err) } }];\n}"
      },
      "name": "AI Parse DateTime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        160
      ],
      "id": "ai-parse-datetime"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "start": "={{ $json.start_datetime }}",
        "end": "={{ $json.end_datetime }}",
        "additionalFields": {
          "description": "={{ $json.event_description }}",
          "sendUpdates": "all",
          "summary": "={{ $json.event_title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1456,
        64
      ],
      "id": "af6f6634-ae83-4500-bdad-fd4280a98014",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cal-ready",
              "leftValue": "={{ $json.calendar_ready }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Calendar Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        -16
      ],
      "id": "if-cal-ready"
    }
  ],
  "connections": {
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Send Meeting Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Info Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Callback Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Email": {
      "main": [
        [
          {
            "node": "AI Parse DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse DateTime": {
      "main": [
        [
          {
            "node": "Calendar Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Info Email": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Callback Email": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheet": {
      "main": [
        [
          {
            "node": "Respond to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Ready?": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6a6063ba-78bb-4e78-bd6b-2f27c1c2c1e5",
  "activeVersionId": "d6bee2c0-2ecc-4dec-943d-1e89b85b48b2",
  "versionCounter": 80,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-17T17:06:16.685Z",
      "createdAt": "2026-02-17T17:06:16.685Z",
      "role": "workflow:owner",
      "workflowId": "aeB7LxxNmLfJJEJC",
      "projectId": "DT8YjHwLZsQjJqVc",
      "project": {
        "updatedAt": "2025-09-30T14:49:00.207Z",
        "createdAt": "2025-09-30T14:45:13.837Z",
        "id": "DT8YjHwLZsQjJqVc",
        "name": "Dhruv Tomar <dhruv70081@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "eeb2630f-4760-4254-9eb8-71cf49a24999",
        "projectRelations": [
          {
            "updatedAt": "2025-09-30T14:45:13.837Z",
            "createdAt": "2025-09-30T14:45:13.837Z",
            "userId": "eeb2630f-4760-4254-9eb8-71cf49a24999",
            "projectId": "DT8YjHwLZsQjJqVc",
            "user": {
              "updatedAt": "2026-02-20T21:05:29.000Z",
              "createdAt": "2025-09-30T14:45:13.204Z",
              "id": "eeb2630f-4760-4254-9eb8-71cf49a24999",
              "email": "dhruv70081@gmail.com",
              "firstName": "Dhruv",
              "lastName": "Tomar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-30T14:49:20.090Z",
                "personalization_survey_n8n_version": "1.113.3",
                "companySize": "<20",
                "companyType": "education",
                "automationGoalSm": [
                  "lead-generation"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "qbWjLjqmTXha48b0",
                "userActivatedAt": 1759559314268,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762350067664
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true,
                  "ragStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-18T17:02:29.365Z",
    "createdAt": "2026-02-18T17:02:29.365Z",
    "versionId": "d6bee2c0-2ecc-4dec-943d-1e89b85b48b2",
    "workflowId": "aeB7LxxNmLfJJEJC",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vapi-sales-followup",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Vapi Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "vapi-sales-followup",
        "id": "4ee0d69e-8f7b-4b06-baae-97f5c301372e"
      },
      {
        "parameters": {
          "jsCode": "// Extract data from Vapi tool call\nconst body = $input.first().json.body || $input.first().json;\n\n// Vapi sends tool calls in this format\nlet args = {};\n\n// Handle different Vapi payload formats\nif (body.message && body.message.toolCallList) {\n  args = body.message.toolCallList[0].function.arguments;\n} else if (body.message && body.message.toolCalls) {\n  const toolCall = body.message.toolCalls[0];\n  args = typeof toolCall.function.arguments === 'string' \n    ? JSON.parse(toolCall.function.arguments) \n    : toolCall.function.arguments;\n} else if (body.toolCallList) {\n  args = body.toolCallList[0].function.arguments;\n} else if (body.recipient_email) {\n  // Direct payload (testing)\n  args = body;\n} else {\n  // Fallback: try to find args anywhere in the payload\n  args = body;\n}\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nreturn [{\n  json: {\n    email: args.recipient_email || '',\n    name: args.recipient_name || 'there',\n    company: args.company_name || 'your company',\n    action: args.action_type || 'send_info',\n    meeting_date: args.meeting_date || '',\n    meeting_time: args.meeting_time || '',\n    pain_points: args.pain_points || '',\n    summary: args.call_summary || '',\n    timestamp: dateStr\n  }\n}];"
        },
        "name": "Extract Call Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ],
        "id": "ab014953-96aa-4869-b251-a165d0c7233c"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "meeting_booked",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Meeting"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "send_info",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Info"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "callback_scheduled",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Callback"
              }
            ]
          },
          "options": {}
        },
        "name": "Route by Action",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          720,
          304
        ],
        "id": "160fff4d-8241-42b9-b524-7cd9941c8eb8"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "=Demo Confirmed \u2014 AI Operations Platform for {{ $json.company }}",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n<h2 style=\"color: #1a1a2e;\">Hi {{ $json.name }},</h2>\n\n<p>Great speaking with you! As discussed, here are the details for our upcoming demo:</p>\n\n<div style=\"background: #f0f4ff; border-left: 4px solid #2563eb; padding: 15px; margin: 20px 0; border-radius: 4px;\">\n<strong>\ud83d\udcc5 Date:</strong> {{ $json.meeting_date }}<br>\n<strong>\ud83d\udd50 Time:</strong> {{ $json.meeting_time }}<br>\n<strong>\ud83d\udccd Format:</strong> Video call<br>\n<strong>\u23f1 Duration:</strong> 20 minutes\n</div>\n\n<p><strong>What we'll cover:</strong></p>\n<ul>\n<li>Live demo of the AI shift-filling agent making a real call</li>\n<li>How it integrates with your existing scheduling system</li>\n<li>ROI breakdown specific to {{ $json.company }}'s operations</li>\n<li>Q&A</li>\n</ul>\n\n<p style=\"color: #666; font-size: 14px; margin-top: 30px;\">\nLooking forward to showing you what this can do for {{ $json.company }}.<br>\nIf you need to reschedule, just reply to this email.\n</p>\n\n<p>\nBest,<br>\n<strong>Sophia \u2014 AI Operations Specialist</strong><br>\n<span style=\"color: #999; font-size: 13px;\">SecurityAI Platform</span>\n</p>\n\n</div>",
          "options": {
            "appendAttribution": false
          }
        },
        "name": "Send Meeting Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1008,
          160
        ],
        "id": "113e213b-9996-43a2-b7a7-8e814fc63b6f",
        "webhookId": "3bb70910-626c-49ba-804f-c3ac5b63ee5c",
        "credentials": {
          "gmailOAuth2": {
            "id": "gPGYzjuIbblOf3E1",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "=AI Operations Platform \u2014 Built for {{ $json.company }}",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n<h2 style=\"color: #1a1a2e;\">Hi {{ $json.name }},</h2>\n\n<p>Thanks for taking the call! As promised, here's a quick overview of what we do.</p>\n\n<h3>The Problem We Solve</h3>\n<p>Security companies lose <strong>$150K\u2013$300K/year</strong> on manual dispatch operations \u2014 slow shift filling, missed calls, overtime bleed, and compliance gaps.</p>\n\n<h3>What Our AI Platform Does</h3>\n<table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n<tr style=\"background: #f8f9fa;\"><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>Shift Fulfillment AI</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">Fills open shifts in &lt;5 min via automated waterfall calling</td></tr>\n<tr><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>24/7 AI Receptionist</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">Answers every inbound call, qualifies leads, books meetings</td></tr>\n<tr style=\"background: #f8f9fa;\"><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>Guard Safety Checks</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">Automated hourly check-ins for lone workers (OHS compliant)</td></tr>\n<tr><td style=\"padding: 10px; border: 1px solid #dee2e6;\"><strong>Smart Scheduling</strong></td><td style=\"padding: 10px; border: 1px solid #dee2e6;\">AI confirms availability, handles call-in sick, updates systems</td></tr>\n</table>\n\n<h3>Results</h3>\n<ul>\n<li>\u26a1 Shift fill time: 45 min \u2192 under 5 min</li>\n<li>\ud83d\udcde Inbound answer rate: 100% (24/7)</li>\n<li>\ud83d\udcb0 $150K\u2013$300K saved annually</li>\n<li>\ud83d\udcca 90%+ fill rate without human intervention</li>\n</ul>\n\n<p><strong>Want to see it in action?</strong> Reply to this email and we'll set up a quick 20-minute live demo.</p>\n\n<p>\nBest,<br>\n<strong>Sophia \u2014 AI Operations Specialist</strong><br>\n<span style=\"color: #999; font-size: 13px;\">SecurityAI Platform</span>\n</p>\n\n</div>",
          "options": {
            "appendAttribution": false
          }
        },
        "name": "Send Info Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1008,
          320
        ],
        "id": "f8b3e2c1-8f01-47df-93d7-28a0a7cdee27",
        "webhookId": "3f254957-4c77-4b34-9304-0d83227d6778",
        "credentials": {
          "gmailOAuth2": {
            "id": "gPGYzjuIbblOf3E1",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "=Following up \u2014 AI for {{ $json.company }} Operations",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px;\">\n<h2>Hi {{ $json.name }},</h2>\n<p>Thanks for your time on the call. As mentioned, I'll follow up at a better time.</p>\n<p>In the meantime, here's a quick summary:</p>\n<p style=\"background: #f0f4ff; padding: 15px; border-radius: 4px;\">\nWe help security companies automate shift filling (45 min \u2192 5 min), handle inbound calls 24/7 with AI, and save $150K-$300K/year in operational costs.\n</p>\n<p>When you're ready for a quick 20-minute demo, just reply to this email.</p>\n<p>Best,<br><strong>Sophia \u2014 AI Operations Specialist</strong></p>\n</div>",
          "options": {
            "appendAttribution": false
          }
        },
        "name": "Send Callback Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1008,
          480
        ],
        "id": "89ab1649-4f51-4d40-86b7-fb7cb9ce0fc5",
        "webhookId": "e773c5d4-b5fa-4ea1-8b2d-45da10542f42",
        "credentials": {
          "gmailOAuth2": {
            "id": "gPGYzjuIbblOf3E1",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Sales Calls",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.timestamp }}",
              "Name": "={{ $json.name }}",
              "Company": "={{ $json.company }}",
              "Email": "={{ $json.email }}",
              "Action": "={{ $json.action }}",
              "Meeting Date": "={{ $json.meeting_date }}",
              "Meeting Time": "={{ $json.meeting_time }}",
              "Pain Points": "={{ $json.pain_points }}",
              "Summary": "={{ $json.summary }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Action",
                "displayName": "Action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Meeting Date",
                "displayName": "Meeting Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Meeting Time",
                "displayName": "Meeting Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Pain Points",
                "displayName": "Pain Points",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Summary",
                "displayName": "Summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "name": "Log to Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1568,
          304
        ],
        "id": "4085dbd2-3000-4902-8895-13f7826daafd",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "WbzVyGwbDVzvcV25",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"results\": [{ \"result\": \"Email sent successfully to {{ $json.email }}. The prospect will receive the email shortly.\" }] }",
          "options": {
            "responseCode": 200
          }
        },
        "name": "Respond to Vapi",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1808,
          304
        ],
        "id": "3f122941-b8e6-44e2-88dd-e222e7348ff6"
      },
      {
        "parameters": {
          "content": "## SecurityAI \u2014 Vapi Sales Follow-up Workflow\n\n**What this does:**\n1. Receives tool call from Vapi AI agent (Sophia) during live call\n2. Routes based on action type (meeting/info/callback)\n3. Sends professional HTML email instantly\n4. **If meeting booked**: AI parses date/time into ISO format\n5. Logs everything to Google Sheet\n6. Responds to Vapi so Sophia can confirm\n\n**TODO**: Add Google Calendar node after \"AI Parse DateTime\" (needs credential in UI)\n\n**Webhook URL:** `https://n8n.aiwithdhruv.cloud/webhook/vapi-sales-followup`",
          "height": 340,
          "width": 420,
          "color": 5
        },
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          176,
          -112
        ],
        "id": "8142a580-30c8-4119-aa93-93ab07dbd02c"
      },
      {
        "parameters": {
          "jsCode": "// Smart Date Parser + Calendar Formatter\nconst allData = $('Extract Call Data').first().json;\nconst dateStr = (allData.meeting_date || '').toLowerCase().trim();\nconst timeStr = (allData.meeting_time || '').toLowerCase().trim();\n\nif (!dateStr && !timeStr) {\n  return [{ json: { ...allData, calendar_ready: false } }];\n}\n\ntry {\n  const now = new Date();\n  let targetDate = new Date(now);\n  const days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\n  let foundDay = false;\n\n  for (let i = 0; i < days.length; i++) {\n    if (dateStr.includes(days[i])) {\n      let diff = i - now.getDay();\n      if (diff <= 0) diff += 7;\n      if (dateStr.includes('next')) diff += 7;\n      targetDate.setDate(now.getDate() + diff);\n      foundDay = true;\n      break;\n    }\n  }\n  if (!foundDay && dateStr.includes('tomorrow')) { targetDate.setDate(now.getDate() + 1); foundDay = true; }\n  if (!foundDay && dateStr.includes('today')) { foundDay = true; }\n  if (!foundDay) {\n    const parsed = new Date(dateStr);\n    if (!isNaN(parsed.getTime()) && parsed.getFullYear() > 2020) { targetDate = parsed; foundDay = true; }\n    else {\n      const mm = dateStr.match(/(jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec)\\w*\\s+(\\d{1,2})/);\n      if (mm) {\n        const months = {jan:0,feb:1,mar:2,apr:3,may:4,jun:5,jul:6,aug:7,sep:8,oct:9,nov:10,dec:11};\n        targetDate = new Date(now.getFullYear(), months[mm[1].substring(0,3)], parseInt(mm[2]));\n        if (targetDate < now) targetDate.setFullYear(now.getFullYear() + 1);\n        foundDay = true;\n      }\n    }\n  }\n  if (!foundDay) {\n    let add = 1;\n    if (now.getDay() === 5) add = 3;\n    if (now.getDay() === 6) add = 2;\n    targetDate.setDate(now.getDate() + add);\n  }\n\n  let hours = 14, minutes = 0;\n  const combined = dateStr + ' ' + timeStr;\n  const tm = combined.match(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/i);\n  if (tm) {\n    hours = parseInt(tm[1]);\n    minutes = tm[2] ? parseInt(tm[2]) : 0;\n    const p = (tm[3] || '').toLowerCase();\n    if (p === 'pm' && hours < 12) hours += 12;\n    if (p === 'am' && hours === 12) hours = 0;\n    if (!p && hours >= 1 && hours <= 7) hours += 12;\n  }\n\n  targetDate.setHours(hours, minutes, 0, 0);\n  const endDate = new Date(targetDate);\n  endDate.setMinutes(endDate.getMinutes() + 20);\n\n  const fmt = (d) => {\n    const p = (n) => String(n).padStart(2, '0');\n    // Include EST timezone offset so Google Calendar creates event in Toronto time\n    return d.getFullYear() + '-' + p(d.getMonth()+1) + '-' + p(d.getDate()) + 'T' + p(d.getHours()) + ':' + p(d.getMinutes()) + ':00';\n  };\n\n  // Pre-format calendar fields so Calendar node uses simple expressions\n  const eventTitle = 'Demo: ' + (allData.company || 'Prospect') + ' - AI Operations Platform';\n  const eventDesc = 'Live demo of AI shift-filling and operations automation.\\n\\nAttendee: ' + (allData.name || '') + ' (' + (allData.company || '') + ')\\nEmail: ' + (allData.email || '') + '\\nPain Points: ' + (allData.pain_points || 'N/A') + '\\nCall Summary: ' + (allData.summary || 'N/A');\n\n  return [{ json: {\n    ...allData,\n    start_datetime: fmt(targetDate),\n    end_datetime: fmt(endDate),\n    timezone: 'America/Toronto',\n    event_title: eventTitle,\n    event_description: eventDesc,\n    calendar_ready: true\n  }}];\n} catch (err) {\n  return [{ json: { ...allData, calendar_ready: false, parse_error: String(err) } }];\n}"
        },
        "name": "AI Parse DateTime",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          160
        ],
        "id": "ai-parse-datetime"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "aiwithdhruv@gmail.com",
            "mode": "list",
            "cachedResultName": "aiwithdhruv@gmail.com"
          },
          "start": "={{ $json.start_datetime }}",
          "end": "={{ $json.end_datetime }}",
          "useDefaultReminders": true,
          "additionalFields": {
            "summary": "={{ $json.event_title }}",
            "description": "={{ $json.event_description }}",
            "attendeesUi": {
              "attendeesValues": [
                {
                  "email": "={{ $json.email }}"
                }
              ]
            },
            "sendUpdates": "all",
            "timeZone": "America/Toronto"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1456,
          64
        ],
        "id": "af6f6634-ae83-4500-bdad-fd4280a98014",
        "name": "Create an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "m1dWuBfvWEjtCte8",
            "name": "Ai with Dhruv"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cal-ready",
                "leftValue": "={{ $json.calendar_ready }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Calendar Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1396,
          -16
        ],
        "id": "if-cal-ready"
      }
    ],
    "connections": {
      "Vapi Webhook": {
        "main": [
          [
            {
              "node": "Extract Call Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Call Data": {
        "main": [
          [
            {
              "node": "Route by Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Action": {
        "main": [
          [
            {
              "node": "Send Meeting Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Info Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Callback Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Meeting Email": {
        "main": [
          [
            {
              "node": "AI Parse DateTime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Parse DateTime": {
        "main": [
          [
            {
              "node": "Calendar Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Info Email": {
        "main": [
          [
            {
              "node": "Log to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Callback Email": {
        "main": [
          [
            {
              "node": "Log to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Google Sheet": {
        "main": [
          [
            {
              "node": "Respond to Vapi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an event": {
        "main": [
          [
            {
              "node": "Log to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calendar Ready?": {
        "main": [
          [
            {
              "node": "Create an event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhruv Tomar",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-18T17:02:29.425Z",
        "id": 360,
        "workflowId": "aeB7LxxNmLfJJEJC",
        "versionId": "d6bee2c0-2ecc-4dec-943d-1e89b85b48b2",
        "event": "activated",
        "userId": "eeb2630f-4760-4254-9eb8-71cf49a24999"
      },
      {
        "createdAt": "2026-02-18T17:02:29.767Z",
        "id": 361,
        "workflowId": "aeB7LxxNmLfJJEJC",
        "versionId": "d6bee2c0-2ecc-4dec-943d-1e89b85b48b2",
        "event": "activated",
        "userId": "eeb2630f-4760-4254-9eb8-71cf49a24999"
      }
    ]
  }
}