n8n/All-Workflows/inactive/Agent_Dhruv_10.json
{
  "updatedAt": "2025-11-25T16:43:35.000Z",
  "createdAt": "2025-09-30T15:22:14.252Z",
  "id": "tPtFK90GbBkgB3vg",
  "name": "Agent Dhruv 1.0",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7311375f-b1cb-40d3-89eb-121deb7260a2",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        144
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
      "credentials": {
        "telegramApi": {
          "id": "W6XV6RQORTB3eBDg",
          "name": "Agent Dhruv"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eafeef5f-8b21-4fd7-b0ef-4c3c4d103fb8",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "7f1e5ac0-70f7-4233-bc09-0206bf9b5f44",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "webhookId": "c0b376b1-7b63-41b6-8063-0b3096b8333d",
      "credentials": {
        "telegramApi": {
          "id": "W6XV6RQORTB3eBDg",
          "name": "Agent Dhruv"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "1232a0d8-fae9-4805-ac41-8f14a240e3b8",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        160,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "8IidOdkLmo0Xt32q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "ab891bef-0ae7-40dd-99d6-1cd0f36a521c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -176,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails or creating summaries \u2014 your sole responsibility is to call the correct tool.\n\n## Tools\n- **Think**: Use this to think deeply or if you get stuck\n- **emailAgent**: Use this tool to take action in email\n- **calendarAgent**: Use this tool to take action in calendar\n- **contactAgent**: Use this tool to get, update, or add contacts\n- **contentCreator**: Use this tool to create blog posts\n- **Web Agent**: Use this tool to perform deeper web research or get current weather info\n- **youtubeAgent**: Use this tool to find high-performing videos or manage video ideas\n-**Stock Agent**:Use this tool to perform web search or get current stock live info & Updates\n-**Growth Architect**: Use this tool for anything related to sales growth, revenue strategy, pipeline optimization, and lead generation. It acts as your VP of Sales / CRO on demand\n-**Promt Agent**: Prompt Agent = Master Prompt Engineer. Use it to generate the best AI prompts for text, images, video, code, or workflows.\n \n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Instructions\n1) Call the necessary tools based on the user's request\n2) Use the **Think** tool to verify you took the right steps. This tool should be called every time.\n\n## Examples\n1) \n- Input: send an email to Dhruv asking him what time he wants to leave  \n  - Action: Use **contactAgent** to get Dhruv's email  \n  - Action: Use **emailAgent** to send the email. You will pass the tool a query like:  \n    \"send Dhruv an email to ask what time he wants to leave. here is his email: [email address]\"\n- Output: The email has been sent to Dhruv. Anything else I can help you with?\n- Try to be fast and superresponsi\n\n## Final Reminders\nHere is the current date/time: {{ $now }}\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        992,
        208
      ],
      "id": "cb0b1c8e-840b-4354-a3e7-b8d98d208959",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        880
      ],
      "id": "d03b72b1-620e-410a-b8d5-e508e1a34ce5",
      "name": "Send Email",
      "webhookId": "86c8c4b1-13bb-4ebe-acb9-30e1d7082d55",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "=10",
        "simple": false,
        "filters": {
          "sender": "={{ $json.input }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        480,
        880
      ],
      "id": "81ae1365-a7c3-44bc-a6c7-49e65fb3dbd7",
      "name": "Get Emails",
      "webhookId": "af4b3298-9037-44b0-aa12-2acbfbb5e66f",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $fromAI(\"threadID\") }}",
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        736
      ],
      "id": "7dd69956-6e94-4a20-9aa1-d1d59815607d",
      "name": "Create Draft",
      "webhookId": "17016bce-d7d7-428a-a56c-f6ea122db8be",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        736
      ],
      "id": "79a20cb1-fa41-4009-aa3d-52b32c87a484",
      "name": "Email Reply",
      "webhookId": "114785e6-a859-432b-81b4-c490c1c35b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        880
      ],
      "id": "d2b12103-45af-42f3-ac75-0253172a23a1",
      "name": "Get Labels",
      "webhookId": "9e08b59e-792d-4566-83f1-9263c9ad86ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        736
      ],
      "id": "e83645b3-65fc-4b27-91eb-fc5554799feb",
      "name": "Label Emails",
      "webhookId": "0e951529-2e6d-40bf-ac40-fc0947e242e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        880
      ],
      "id": "53482b87-1fac-461e-b561-b9379c2433bf",
      "name": "Mark Unread",
      "webhookId": "a35af9d8-f67d-4ff9-803f-59ec6356e795",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "An email agent for all email actions",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an email management assistant. All emails must be formatted professionally in HTML and signed off as \"Dhruv.\" \n\n**Email Management Tools**   \n   - Use \"Send Email\" to send emails.  \n   - Use \"Create Draft\" if the user asks for a draft.  \n   - Use \"Get Emails\" to retrieve emails when requested.\n   - Use \"Get Labels\" to retrieve labels.\n   - Use \"Mark Unread\" to mark an email as unread. You must use \"Get Emails\" first so you have the message ID of the email to flag.\n   - Use \"Label Email\" to flag an email. You must use \"Get Emails\" first so you have the message ID of the email to flag. Then you must use \"Get Labels\" so you have the label ID.\n   - Use \"Email Reply\" to reply to an email. You must use \"Get Emails\" first so you have the message ID of the email to reply to.\n\n## Final Notes\n- Here is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        656,
        560
      ],
      "id": "97f25a3a-8e44-4f0b-ba0b-83ba4792e413",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1264,
        880
      ],
      "id": "06be35fe-a38a-4915-9793-1231dd85aa48",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        880
      ],
      "id": "b8d40ecb-cf6f-431e-a5ff-6382e2f893df",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1264,
        736
      ],
      "id": "e99005bf-7f63-44d6-830d-9d3af002e71b",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        736
      ],
      "id": "0a2066da-ce7c-4b88-a6f8-95345b80e59a",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aiwithdhruv@gmail.com",
          "mode": "list",
          "cachedResultName": "aiwithdhruv@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        880
      ],
      "id": "4ebaa4da-f3e2-4c37-81fc-ccf9f2792b9c",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m1dWuBfvWEjtCte8",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "A calendar agent for all calendar actions",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1024,
        560
      ],
      "id": "b10175cd-7fb2-450b-ad14-95b55839e1a9",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "jsCode": "// Initialize the output arrays\nconst steps = [];\nconst tokens = [];\nlet totalTokens = 0; // Changed to track total tokens instead of cost\n\n// Process each item in the input\nfor (const item of $input.all()) {\n  let data = item.json;\n  \n  // Check if the data is an array itself (like your example JSON)\n  if (Array.isArray(data)) {\n    // Process each object in the array\n    for (const obj of data) {\n      // Extract steps information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action) {\n            steps.push({\n              tool: step.action.tool,\n              toolInput: step.action.toolInput,\n              observation: step.observation\n            });\n          }\n        }\n      }\n      \n      // Extract token information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n            for (const message of step.action.messageLog) {\n              if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n                const usage = message.kwargs.response_metadata.usage;\n                tokens.push({\n                  prompt_tokens: usage.prompt_tokens,\n                  completion_tokens: usage.completion_tokens,\n                  total_tokens: usage.total_tokens,\n                  model_name: message.kwargs.response_metadata.model_name\n                });\n                \n                // Add the tokens to our running total\n                if (typeof usage.total_tokens === 'number') {\n                  totalTokens += usage.total_tokens;\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  } else {\n    // If data is not an array, process it as a single object\n    // Extract steps information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action) {\n          steps.push({\n            tool: step.action.tool,\n            toolInput: step.action.toolInput,\n            observation: step.observation\n          });\n        }\n      }\n    }\n    \n    // Extract token information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n          for (const message of step.action.messageLog) {\n            if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n              const usage = message.kwargs.response_metadata.usage;\n              tokens.push({\n                prompt_tokens: usage.prompt_tokens,\n                completion_tokens: usage.completion_tokens,\n                total_tokens: usage.total_tokens,\n                model_name: message.kwargs.response_metadata.model_name\n              });\n              \n              // Add the tokens to our running total\n              if (typeof usage.total_tokens === 'number') {\n                totalTokens += usage.total_tokens;\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Return the processed data with total_tokens included\nreturn [{\n  json: {\n    steps: steps,\n    tokens: tokens,\n    total_tokens: totalTokens\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        48
      ],
      "id": "80e7220d-9102-41e6-b8ea-051c1e0e68b6",
      "name": "Clean Up"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4",
          "mode": "list",
          "cachedResultName": "LInkedin Ai Autmation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 446112673,
          "mode": "list",
          "cachedResultName": "Agent Dhruv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit#gid=446112673"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "{{ $now.format('yyyy-MM-dd hh:m a') }}",
            "Workflow": "{{ $workflow.name }}",
            "Input": "{{ $('Input').item.json.input }}",
            "Output": "{{ $('AI Agent').item.json.output }}",
            "Actions": "{{ JSON.stringify($json.steps, null, 2) }}",
            "Tokens": "{{ JSON.stringify($json.tokens, null, 2) }}",
            "Total Tokens": "{{ $json.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actions",
              "displayName": "Actions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tokens",
              "displayName": "Tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Tokens",
              "displayName": "Total Tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1504,
        48
      ],
      "id": "41e0c7fb-670c-473f-8ece-9e83e1b4f5b0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        352,
        560
      ],
      "id": "5ce15e2f-e482-4eb7-8cbe-6ed269d19ac7",
      "name": "Think"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        560
      ],
      "id": "bc2e62eb-d6c4-4865-83b6-4e2ea17c0e19",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        224
      ],
      "id": "6360d9c7-1391-47cc-9de9-65edefe35538",
      "name": "Error Message",
      "webhookId": "7065a160-b927-43b6-b327-feec46cc0088",
      "credentials": {
        "telegramApi": {
          "id": "W6XV6RQORTB3eBDg",
          "name": "Agent Dhruv"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        48
      ],
      "id": "f105a086-914f-460a-8340-efac4f0ea167",
      "name": "Response",
      "webhookId": "4d174459-d5cc-4297-a449-369d3f10ef23",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "W6XV6RQORTB3eBDg",
          "name": "Agent Dhruv"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976cf2c9-01b6-46cf-97b4-675a67ca57bc",
              "name": "input",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        160
      ],
      "id": "8f138623-4f13-4fb9-81d2-885c13293481",
      "name": "Input"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        848
      ],
      "id": "c3f5acf0-d94c-4dfe-8c96-a361cbbcbe58",
      "name": "GPT-5 Nano1",
      "credentials": {
        "openAiApi": {
          "id": "8IidOdkLmo0Xt32q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        736
      ],
      "id": "1c6c1e18-1f06-404c-a655-387a0b0ea168",
      "name": "GPT-5 Nano2",
      "credentials": {
        "openAiApi": {
          "id": "8IidOdkLmo0Xt32q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "A Stock Agent for all Live Stock actions",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=ROLE\nYou are a Stock Market Assistant, tasked with delivering live stock and index updates plus actionable insights\u2014everything wrapped in a clear, structured reply.\n\n\u2e3b\n\nResponsibilities\n\t1.\tAlways start with live market data (or closest real-time data) for:\n\t\u2022\tNifty 50\n\t\u2022\tNifty Bank\n\t\u2022\tAny requested stock(s) (price, change, percentage, and volume if available)\n\t2.\tIf data isn\u2019t fresh or available, use the Web Agent to fetch it via a search query like (\u201clive Nifty 50 update\u201d) or (\u201ccurrent Infosys stock price\u201d).\n\t3.\tAfter the live update, include:\n\t\u2022\tQuick context (e.g., sector drivers)\n\t\u2022\tNotable movement or trend commentary (e.g., \u201cReliance surges 2% on strong earnings\u201d)\n\t\u2022\tOnly additional data if explicitly requested (historical performance, charts, forecasts, etc.)\n\t4.\tIf multiple tickers are specified, present them in a neat bullet list or mini table.\n\t5.\tKeep responses concise, numeric, and free of speculation.\n\n    6. Always give data as per NSE for Indian Stocks untill somone specifically asked about NSE/BSE or something else\n\u2e3b\n\nInputs You Might Receive\n\t\u2022\t\u201cLive update for Infosys\u201d\n\t\u2022\t\u201cHow is the Nifty Bank doing today?\u201d\n\t\u2022\t\u201cShow me Nifty, Sensex, and L&T stock price\u201d\n\n\u2e3b\n\nAutomation Tools (Optional)\n\t\u2022\tGet Live Data: Fetch real-time prices for Nifty 50, Nifty Bank, or specific tickers.\n\t\u2022\tWeb Agent: Run queries like \"latest Nifty 50 value\" or \"Infosys stock price today\" and scrape results if live data is needed.\n\t\u2022\tGet Historical Data: Only use if user explicitly asks for historical trends or charts.\n\n\u2e3b\n\nFinal Notes\n\t\u2022\tAlways put live data first\u2014structured, clear, and crisp.\n\t\u2022\tAppend the current timestamp using: {{ $now }}\n\t\u2022\tBe transparent: if data is unavailable, say: \u201c\u26a0 Live data not available right now.\u201d\n\n\nLive Market Update ({{ $now }})\n\u2022 Nifty 50: 19,850.40 (+0.65%)\n\u2022 Nifty Bank: 45,120.25 (\u20130.12%)\n\u2022 Infosys: \u20b91,520.30 (+1.8%, strong volume)\n\nContext: IT sector rally boosting broad indices. InfoSys leads with solid intraday strength tracking earnings buzz. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1456,
        560
      ],
      "id": "ce481733-2bd7-49a6-9351-966642f9dfc5",
      "name": "Stock Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        752
      ],
      "id": "80b7920d-ad11-40a3-9bbc-e2a428f27366",
      "name": "GPT-5 Nano3",
      "credentials": {
        "openAiApi": {
          "id": "8IidOdkLmo0Xt32q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "You are the Growth Architect, a VP of Sales AI Agent with 10+ years of expertise scaling SaaS revenue engines. You act as a top-tier consultant who knows everything",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=ROLE:\nYou are the Growth Architect, a VP of Sales AI Agent with 10+ years of expertise scaling SaaS revenue engines. You act as a top-tier consultant who knows everything about:\n\t\u2022\tCompany revenue levers (pipeline, CAC, LTV, pricing, churn)\n\t\u2022\tSales growth strategy (B2B SaaS playbooks, GTM models, sales org design)\n\t\u2022\tLead generation & conversion (SDR/AE systems, outbound & inbound tactics)\n\t\u2022\tForecasting & reporting (predictive models, dashboards, metrics tracking)\n\t\u2022\tCompetitive positioning (pricing benchmarks, differentiation, win/loss intel)\n\nWhen company-internal data is missing, use Web Agent to pull latest insights on competitors, markets, or pricing.\n\n\u2e3b\n\n3. Responsibilities & Capabilities\n\nA. Sales Growth & Revenue Strategy\n\t\u2022\tBuild GTM strategies (inbound, outbound, ABM, PLG).\n\t\u2022\tAdvise on pricing models & monetization.\n\t\u2022\tRecommend org design: SDRs, AEs, CSMs.\n\t\u2022\tAlign sales targets to revenue outcomes.\n\nB. Pipeline & Lead Management\n\t\u2022\tOptimize funnel stages: awareness \u2192 SQL \u2192 closed/won.\n\t\u2022\tRecommend lead scoring, routing, and prioritization frameworks.\n\t\u2022\tDiagnose pipeline leakage & offer fixes.\n\nC. Forecasting & Analytics\n\t\u2022\tCreate monthly/quarterly sales forecasts.\n\t\u2022\tTrack CAC payback, churn, LTV, and NRR.\n\t\u2022\tSuggest dashboards and key KPIs for CRO/CEO.\n\nD. Sales Process Execution\n\t\u2022\tDraft outreach cadences, email sequences, objection handling scripts.\n\t\u2022\tOptimize conversion rates across channels (LinkedIn, email, events).\n\t\u2022\tRecommend CRM automations & AI tools.\n\nE. Market Intelligence (via Web Agent)\n\t\u2022\tBenchmark competitors\u2019 pricing & GTM moves.\n\t\u2022\tTrack industry growth trends.\n\t\u2022\tPull live financial data of listed competitors.\n\n\u2e3b\n\n4. Input Types It Can Handle\n\t\u2022\tTactical requests: \u201cGive me a LinkedIn outbound sequence for CFOs in India.\u201d\n\t\u2022\tStrategic requests: \u201cHow do we grow revenue 3x in 12 months?\u201d\n\t\u2022\tAnalytical requests: \u201cWhat\u2019s our projected pipeline coverage if we add 2 SDRs?\u201d\n\t\u2022\tMarket intel: \u201cPull competitor pricing for Procore in India.\u201d\n\n\u2e3b\n\n5. Rules for Responses\n\t1.\tAlways start with data-driven insights (use company data or fetch live from web).\n\t2.\tBreak answers into structured frameworks (steps, playbooks, tables).\n\t3.\tBalance strategic view (CEO lens) with tactical action steps (sales manager lens).\n\t4.\tIf web lookup is required, clearly mark:\n\u2192 \u201cFetching competitor pricing from web\u2026\u201d\n\u2192 Then add the structured insights.\n\t5.\tKeep tone authoritative but actionable (McKinsey + Gong).\n\n\u2e3b\n\n6. Example Use Cases\n\nUser: \u201cWe need to increase MRR from $100k to $300k in 12 months. What\u2019s the plan?\u201d\nAgent Response:\n\nRevenue Growth Blueprint (12 months)\n1\ufe0f\u20e3 Pipeline Expansion \u2192 Hire 2 SDRs \u2192 40 SQLs/month \u2192 +$80k ARR\n2\ufe0f\u20e3 Upsell Engine \u2192 Launch tiered packaging \u2192 Target 20% expansion revenue\n3\ufe0f\u20e3 Churn Reduction \u2192 NRR > 120% \u2192 Focus on top 50 accounts\n4\ufe0f\u20e3 Pricing Adjustment \u2192 Benchmark vs competitors (fetching live data) \u2192 +15% ASP\n5\ufe0f\u20e3 Automation \u2192 Deploy AI-driven outreach \u2192 Save 200 hrs/month\n\n\u2192 Projected: MRR $310k by Q4 if executed with 85% attainment\n\n7. Final Notes\n\t\u2022\tCurrent date/time: {{ $now }}\n\t\u2022\tGrowth Architect should always assume it has full visibility into company sales, pipeline, and financials.\n\t\u2022\tIf data isn\u2019t in memory, it can fetch it via the Web Agent.\n\t\u2022\tNever give vague advice \u2014 every answer must include specific steps, timeframes, and measurable outcomes.\n\t\u2022 Keep concise and short if user dont ask in more details "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1792,
        560
      ],
      "id": "159b4238-66cf-4bf2-b208-2d4d53981cdc",
      "name": "Growth Architect"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.input }}\"\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1568,
        912
      ],
      "id": "20c6e284-99a8-464b-a7cc-9b4d73abe5c6",
      "name": "Web Agent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KNPgAL7t7E7umk6U",
          "name": "Apify Viral Beast"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1856,
        32
      ],
      "id": "2ba17613-bfc4-41c2-811f-ae5c8e952de2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sendTo": "aiwithdhruv@gmail.com",
        "subject": "={{ $('Input').item.json.input }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        192
      ],
      "id": "9aaa4aed-5912-4062-8ac2-42f89ecc0b6a",
      "name": "Send a message",
      "webhookId": "d27e254f-b717-42e6-a079-2f443289a60c",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2048,
        192
      ],
      "id": "2c50836f-f9a0-4a64-9355-f3a53a8da7af",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        832
      ],
      "id": "2d0d5820-63b9-40a3-a590-6cc689b269f0",
      "name": "2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "1YAglGZ0F8CcWPRL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2224,
        848
      ],
      "id": "0a13bb1a-94d7-4bcb-88e5-8d31ae3842cb",
      "name": "2.5 Flash1",
      "credentials": {
        "googlePalmApi": {
          "id": "1YAglGZ0F8CcWPRL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "You are the Prompt Agent, an AI master prompt engineer with 10+ years of expertise in creating world-class prompts.\nYou transform any topic or goal into the most optimized AI prompt possible \u2014 tailored for the right output type (text, image, video, code, or workflow).",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=1. Agent Role\n\nYou are the Prompt Agent, an AI master prompt engineer with 10+ years of expertise in creating world-class prompts.\nYou transform any topic or goal into the most optimized AI prompt possible \u2014 tailored for the right output type (text, image, video, code, or workflow).\n\n\u2e3b\n\n2. Core Purpose\n\t\u2022\tGenerate the best prompts on demand for any AI system.\n\t\u2022\tCover all modalities: text, images, videos, code, audio, workflows.\n\t\u2022\tEnsure prompts are clear, detailed, actionable, and context-aware.\n\t\u2022\tAlways structure them for maximum performance in the target AI model.\n\n\u2e3b\n\n3. Responsibilities & Capabilities\n\nA. Prompt Creation by Type\n\t\u2022\tImage Prompts \u2192 For MidJourney, DALL\u00b7E, Stable Diffusion (photorealistic, cinematic, product mockups).\n\t\u2022\tVideo Prompts \u2192 For Runway, Pika, or any text-to-video tool (storyboard-style detail).\n\t\u2022\tText Prompts \u2192 For ChatGPT, Claude (articles, LinkedIn posts, scripts, Q&A).\n\t\u2022\tCode Prompts \u2192 For AI coding agents (detailed instructions, constraints, language-specific context).\n\t\u2022\tWorkflow Prompts \u2192 For n8n, Zapier, automation agents (system + action + variables).\n\nB. Prompt Optimization\n\t\u2022\tBreak vague topics into precise instructions.\n\t\u2022\tAdd style, tone, structure, and format.\n\t\u2022\tDefine roles (e.g., \u201cYou are a McKinsey consultant\u201d or \u201cYou are a Pixar animator\u201d).\n\t\u2022\tInclude constraints (max length, format, tools allowed).\n\nC. Prompt Enhancement\n\t\u2022\tSuggest alternatives (3\u20135 variations for testing).\n\t\u2022\tAdd context injection (industry, audience, style).\n\t\u2022\tAdapt prompts for different AIs (ChatGPT, MidJourney, Runway, etc.).\n\nD. Web Agent Integration\n\t\u2022\tIf context is missing (e.g., \u201clatest market trend\u201d or \u201c2025 film style\u201d), call Web Agent to fetch supporting info and then embed it into the prompt.\n\n\u2e3b\n\n4. Rules for Outputs\n\t1.\tAlways start with the optimized prompt \u2014 formatted cleanly and copy-paste ready.\n\t2.\tClearly label the target use: (Image Prompt / Video Prompt / Text Prompt / Code Prompt).\n\t3.\tProvide 2\u20133 variations if helpful (creative vs professional vs concise).\n\t4.\tIf unclear request, ask clarifying questions before generating.\n\t5.\tNever give meta-explanations \u2014 output must be usable directly.\n\n\u2e3b\n\n5. Input Examples It Can Handle\n\t\u2022\t\u201cGive me a cinematic image prompt of a lion on Wall Street.\u201d\n\t\u2022\t\u201cWrite a text-to-video prompt for a SaaS founder pitching investors.\u201d\n\t\u2022\t\u201cI need a LinkedIn post prompt for AI sales growth hacks.\u201d\n\t\u2022\t\u201cGenerate a Python code prompt to scrape Google Maps leads.\u201d\n\t\u2022\t\u201cCreate an automation workflow prompt for n8n to sync leads to CRM.\u201d\n\n\u2e3b\n\n6. Example Behaviors\n\nUser Input: \u201cI want an image of an astronaut drinking chai on the moon at sunset.\u201d\nPrompt Agent Output:\n\nImage Prompt (Photorealistic): \n\"A cinematic ultra-HD image of an astronaut sitting cross-legged on the moon, drinking chai in a small steel cup, with Earth rising in the background, warm golden sunset lighting, realistic textures, high contrast shadows, DSLR depth of field.\"\n\nUser Input: \u201cCreate a LinkedIn post about AI saving time for founders.\u201d\nPrompt Agent Output:\nText Prompt:\n\"Write a conversational LinkedIn post (max 2,800 characters) targeted at startup founders. \nTone: casual yet insightful. \nHook: start with a time-frustration story. \nBody: show 3 AI use-cases saving 10+ hours/week. \nEnd with reflection and hashtags. \nAdd emoji sequence for readability.\"\n\n7. Final Notes\n\t\u2022\tCurrent date/time: {{ $now }}\n\t\u2022\tThe Prompt Agent must always assume the goal is to create the single best possible prompt for the specified type.\n\t\u2022\tIf the request is ambiguous, generate prompts for multiple formats (e.g., both text + image).\n\t\u2022\tOutput must always be ready-to-use, no explanations.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2160,
        576
      ],
      "id": "50273057-c928-4087-928a-bda5621546d3",
      "name": "Promt Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        560
      ],
      "id": "92139be0-2df2-4b5d-bea4-dd55dceceabe",
      "name": "2.5 Flash2",
      "credentials": {
        "googlePalmApi": {
          "id": "1YAglGZ0F8CcWPRL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.input }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9a0996bf-a1cf-487a-adfe-1369dadf558e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cbc7f913-e943-4de1-bbf2-d3e522109d1b",
                    "leftValue": "={{ $json.input }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        592,
        160
      ],
      "id": "7d88bd95-719f-4fd2-95f4-89126364345f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.input }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=High Quality Image Promt Generateor for Google Nano Banana \nwrite a based short pormt wich I can give to Ai only single best output inproper format\n\nremove this - **Prompt:**\\n\\n\ndirect give output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        1152
      ],
      "id": "25167475-8662-43ae-b019-cd278288c8b4",
      "name": "Image Promt",
      "credentials": {
        "googlePalmApi": {
          "id": "1YAglGZ0F8CcWPRL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Image Promt').item.json.content.parts[0].text }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        1152
      ],
      "id": "41cde5f8-e123-4be6-9795-869660d80bd7",
      "name": "Google Banana",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KNPgAL7t7E7umk6U",
          "name": "Apify Viral Beast"
        },
        "httpBearerAuth": {
          "id": "66uBLB9Fa1yGhxGr",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23c0d1fa-897f-4a1a-b201-8103e473adea",
              "name": "data",
              "value": "={{ $json.choices[0].message.images[0].image_url.url }}",
              "type": "string"
            },
            {
              "id": "bcf338f7-575f-492b-ab68-535263d65a17",
              "name": "base",
              "value": "={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}",
              "type": "string"
            },
            {
              "id": "6fff18a2-acc9-42b9-bf7c-6662ddb18ab3",
              "name": "mime",
              "value": "image/png",
              "type": "string"
            },
            {
              "id": "cb656296-3407-40cd-9271-88ee33710e12",
              "name": "fileName",
              "value": ".png",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        1152
      ],
      "id": "3b94c647-07e3-4620-a6c0-fd1033ca298f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "={{ $json.mime }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        1152
      ],
      "id": "56a2999f-51a5-4690-930f-eb06b496faa7",
      "name": "Image"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        1152
      ],
      "id": "3a9c4643-f75e-4bd2-8289-5cdf17b3677d",
      "name": "Response1",
      "webhookId": "4d174459-d5cc-4297-a449-369d3f10ef23",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "W6XV6RQORTB3eBDg",
          "name": "Agent Dhruv"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Generate Image",
        "width": 1888,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        1136
      ],
      "id": "53753e8f-68e8-4968-a5a0-e289d0ab2ee5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this in short as a google drive file name {{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        128,
        1152
      ],
      "id": "3b88fa0f-198a-4ffa-b09c-4c67acf9635a",
      "name": "File Name Creator for Drive",
      "credentials": {
        "openAiApi": {
          "id": "8IidOdkLmo0Xt32q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4",
          "mode": "list",
          "cachedResultName": "LInkedin Ai Autmation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 496980008,
          "mode": "list",
          "cachedResultName": "Image Collection 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit#gid=496980008"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Image Promt": "={{ $('Image Promt').item.json.content.parts[0].text }}",
            "Image Link": "={{ $json.webContentLink }}",
            "File Name": "={{ $('File Name Creator for Drive').item.json.message.content }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Image Promt",
              "displayName": "Image Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Link",
              "displayName": "Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        1152
      ],
      "id": "706d0080-b793-4358-80e6-395c3d75c51b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1328,
        1152
      ],
      "id": "926004c6-8132-45ff-810d-872277186a44",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "name": "={{ $('File Name Creator for Drive').item.json.message.content }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zAdsNiZI6I8AyzVGnj8p1HsUO418Eh9i",
          "mode": "list",
          "cachedResultName": "Image Generator 1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zAdsNiZI6I8AyzVGnj8p1HsUO418Eh9i"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        1008
      ],
      "id": "8388ea9e-d682-4a9c-a36f-415a5eb40084",
      "name": "Upload Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5 Nano1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5 Nano2": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Stock Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5 Nano3": {
      "ai_languageModel": [
        [
          {
            "node": "Stock Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Growth Architect": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Stock Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Growth Architect",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Growth Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "2.5 Flash1": {
      "ai_languageModel": [
        [
          {
            "node": "Promt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Promt Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "2.5 Flash2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Image Promt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Promt": {
      "main": [
        [
          {
            "node": "File Name Creator for Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Banana": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Name Creator for Drive": {
      "main": [
        [
          {
            "node": "Google Banana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f92b62c2-a72a-454d-8c52-f538a979dfa8",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-30T15:22:14.256Z",
      "createdAt": "2025-09-30T15:22:14.256Z",
      "role": "workflow:owner",
      "workflowId": "tPtFK90GbBkgB3vg",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}