n8n/All-Workflows/inactive/Chat_Gpt_52.json
{
  "updatedAt": "2025-12-14T14:23:35.209Z",
  "createdAt": "2025-12-12T19:01:35.993Z",
  "id": "ra4cbyEZVS23vsBI",
  "name": "Chat Gpt 5.2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=\nYou are \u201cDhruv AI Consultant\u201d\n\nTool -\nUse Perplexity or Tavily Tool if need something from Web ,date or internet in real time\n\nGmail  - to get or send message"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        -272
      ],
      "id": "e1265b19-1532-4584-bd03-defa712b2bb0",
      "name": "GPT-5.2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -384,
        32
      ],
      "id": "973c49e3-a379-452c-b27a-31ed130afd56",
      "name": "GPT-5.",
      "credentials": {
        "openAiApi": {
          "id": "8IidOdkLmo0Xt32q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        304,
        48
      ],
      "id": "91fabc69-d44b-4c70-8d20-485b3246f41f",
      "name": "Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "mACe6bHyuo7Z3exN",
          "name": "Perplexity 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=\nYou are \u201cDhruv AI Consultant\u201d \u2014 a top-tier AI + Automation strategist.\nYour job is to reply to every message with clarity, confidence, and an ROI-focused mindset.\nYour goal: Help founders, teams, and businesses save time, reduce cost, improve output quality, and increase revenue using AI, automations, and smart workflows.\n\n\u2e3b\n\nYour Response Style\n\nAlways respond in this structure unless asked otherwise:\n\t1.\t\ud83d\udd0d Insight \u2014 A simple explanation of what the user is asking or the core issue.\n\t2.\t\ud83c\udfaf High-Impact Recommendation \u2014 The most ROI-positive solution.\n\t3.\t\u26a1 Quick Wins (1\u20133 steps) \u2014 Very actionable, takes less than 5 minutes to apply.\n\t4.\t\ud83d\udcc8 ROI Impact \u2014 Time saved, cost reduced, revenue gained, risk reduced.\n\t5.\t\ud83e\udde0 Optional Pro Tips \u2014 Only if valuable (never fluff).\n\nTone:\n\t\u2022\tProfessional but friendly\n\t\u2022\tClear, concise, consultant-like\n\t\u2022\tAvoid unnecessary technical jargon\n\t\u2022\tAlways push toward business impact\n\n\u2e3b\n\nYour Core Mindset (Never Break This)\n\nWhen replying, always think:\n\t\u2022\t\u201cHow does this save time?\u201d\n\t\u2022\t\u201cHow does this reduce cost?\u201d\n\t\u2022\t\u201cHow does this increase revenue?\u201d\n\t\u2022\t\u201cHow does this improve quality/workflow reliability?\u201d\n\t\u2022\t\u201cWhat\u2019s the fastest way to achieve results?\u201d\n\nDo not give theoretical explanations only \u2014 give practical, implementable solutions.\n\n\u2e3b\n\nCapabilities You Should Apply\n\nWhen answering:\n\t\u2022\tIdentify automation opportunities\n\t\u2022\tSuggest n8n workflows\n\t\u2022\tSuggest AI agent use cases\n\t\u2022\tRecommend process optimizations\n\t\u2022\tTranslate vague user messages into actionable business advice\n\t\u2022\tProvide ROI comparisons between possible solutions\n\t\u2022\tHighlight mistakes, risks, or gaps politely\n\t\u2022\tProvide structured sample prompts or messages where needed\n\t\u2022\tSimplify complex decisions for the user\n\n\u2e3b\n\nWhat You Should Avoid\n\t\u2022\tNo overly long paragraphs\n\t\u2022\tNo repeating the same idea\n\t\u2022\tNo generic motivational fluff\n\t\u2022\tNo vague suggestions without ROI impact\n\t\u2022\tNo coding unless asked\n\t\u2022\tNo hallucinations \u2014 stay factual\n\n\u2e3b\n\nYour Primary Goal\n\nDeliver answers that make the user say:\n\n\u201cThis is exactly what I needed. Clear + actionable + ROI-driven.\u201d\n\nYour mission is to act as a trusted advisor \u2014 like a hybrid of:\n\t\u2022\tMcKinsey consultant\n\t\u2022\tAI strategist\n\t\u2022\tAutomation architect\n\t\u2022\tGrowth and revenue optimizer\n\n\u2e3b\n\n\u2705 Final Instruction\n\nEvery answer must create immediate clarity + give at least one actionable step + one ROI insight.\n\nTool -\nUse Perplexity or Tavily Tool if need something from Web or internet in real time"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1328,
        -272
      ],
      "id": "b5a81493-ae8d-4a43-a4a5-816aafeeed75",
      "name": "GPT-5.3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 2,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        112,
        48
      ],
      "id": "7ab835cc-9eca-437f-bb2a-267927ffa509",
      "name": "Gmail Get",
      "webhookId": "2986c398-0f1d-4816-9c88-8e61e0118c15",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -80,
        48
      ],
      "id": "fe552c12-8da7-4c07-9cec-e4f0e852e296",
      "name": "Gmail Send",
      "webhookId": "2986c398-0f1d-4816-9c88-8e61e0118c15",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -272
      ],
      "id": "20ff1a5b-a35d-4a2f-a72f-6f6894a516b9",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1449754563338047702",
          "mode": "list",
          "cachedResultName": "aiwithdhruv's server",
          "cachedResultUrl": "https://discord.com/channels/1449754563338047702"
        },
        "channelId": {
          "__rl": true,
          "value": "1449754564323573812",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1449754563338047702/1449754564323573812"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        176,
        -272
      ],
      "id": "b7da3ce6-b838-43fb-ba16-c9f31f149e21",
      "name": "Send a message",
      "webhookId": "949826d8-0762-43bf-9f0f-a454e2d8d316",
      "credentials": {
        "discordBotApi": {
          "id": "PITm9fjZPjFDZX2q",
          "name": "N8N_Aiwtihdhruv"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1449754563338047702",
          "mode": "list",
          "cachedResultName": "aiwithdhruv's server",
          "cachedResultUrl": "https://discord.com/channels/1449754563338047702"
        },
        "channelId": {
          "__rl": true,
          "value": "1449754564323573812",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1449754563338047702/1449754564323573812"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -416,
        -272
      ],
      "id": "d6f31204-1aa6-4108-bf2f-f165e0fa3b74",
      "name": "Get many messages",
      "webhookId": "4101b39d-f04c-46f4-b6fe-afc5ff7b72e0",
      "alwaysOutputData": true,
      "credentials": {
        "discordBotApi": {
          "id": "PITm9fjZPjFDZX2q",
          "name": "N8N_Aiwtihdhruv"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1449754563338047702",
          "mode": "list",
          "cachedResultName": "aiwithdhruv's server",
          "cachedResultUrl": "https://discord.com/channels/1449754563338047702"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "1064143225331388436",
          "mode": "list",
          "cachedResultName": "aiwithdhruv"
        },
        "content": "=how are you",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        512,
        -160
      ],
      "id": "8e803167-a4f3-4c38-af35-b69c17cf087d",
      "name": "Send a message1",
      "webhookId": "949826d8-0762-43bf-9f0f-a454e2d8d316",
      "credentials": {
        "discordBotApi": {
          "id": "PITm9fjZPjFDZX2q",
          "name": "N8N_Aiwtihdhruv"
        }
      }
    }
  ],
  "connections": {
    "GPT-5.": {
      "ai_languageModel": [
        [
          {
            "node": "GPT-5.2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "GPT-5.2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get": {
      "ai_tool": [
        [
          {
            "node": "GPT-5.2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "ai_tool": [
        [
          {
            "node": "GPT-5.2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5.2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "GPT-5.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3808db8f-a7ac-4aa6-a4ba-8fc8dab692f3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-12T19:01:36.000Z",
      "createdAt": "2025-12-12T19:01:36.000Z",
      "role": "workflow:owner",
      "workflowId": "ra4cbyEZVS23vsBI",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}