n8n/All-Workflows/inactive/Daily_AI_News_to_Gmail.json
{
  "updatedAt": "2026-02-01T12:38:02.182Z",
  "createdAt": "2026-02-01T12:18:00.796Z",
  "id": "v1CENA6nRNLV5AG1",
  "name": "Daily AI News to Gmail",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every Day 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence+OR+AI+OR+LLM+OR+ChatGPT+OR+Claude&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "id": "rss-ai",
      "name": "Fetch AI News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        304,
        304
      ]
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "limit",
      "name": "Top 10 News",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allNews",
        "options": {}
      },
      "id": "aggregate",
      "name": "Combine All",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "You are an AI news curator for Dhruv, a tech entrepreneur focused on AI automation and SaaS. Create a concise, engaging daily newsletter from these news items.\n\nFormat:\n\ud83e\udd16 AI NEWS DIGEST - [Today's Date]\n\n\ud83d\udcf0 TOP STORIES:\n[List 3-5 most important stories with 1-2 sentence summaries]\n\n\ud83d\udca1 QUICK TAKES:\n[Brief bullet points of other notable news]\n\n\ud83c\udfaf ACTION ITEM:\n[One suggestion for Dhruv based on the news - could be a tool to try, trend to watch, or opportunity]\n\nKeep it scannable, valuable, and under 500 words. Write in a friendly, direct tone."
            },
            {
              "content": "=Here are today's AI news items:\n\n{{ $json.allNews.map(item => `Title: ${item.title}\\nLink: ${item.link}\\nDate: ${item.pubDate}\\n`).join('\\n') }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "ai-summarize",
      "name": "AI Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        864,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aiwithdhruv@gmail.com",
        "subject": "=\ud83e\udd16 Your Daily AI News Digest - {{ new Date().toLocaleDateString('en-IN', {weekday: 'long', day: 'numeric', month: 'short'}) }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Send to Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        304
      ],
      "webhookId": "c36b72c4-a3e0-46fd-971b-ca6c35af083f",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "content": "## Daily AI News to Gmail\n\n**Schedule:** Every day at 8 AM IST\n\n**Flow:**\n1. Fetch AI news from Google News RSS\n2. Take top 10 stories\n3. AI summarizes into newsletter format\n4. Send to Gmail\n\n**Edit:** Change email in 'Send to Gmail' node",
        "height": 250,
        "width": 300
      },
      "id": "note",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        16
      ]
    }
  ],
  "connections": {
    "Every Day 8 AM": {
      "main": [
        [
          {
            "node": "Fetch AI News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI News": {
      "main": [
        [
          {
            "node": "Top 10 News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 10 News": {
      "main": [
        [
          {
            "node": "Combine All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All": {
      "main": [
        [
          {
            "node": "AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary": {
      "main": [
        [
          {
            "node": "Send to Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f8a70739-eb3a-4282-b0c3-f9c3c4708311",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-01T12:18:00.800Z",
      "createdAt": "2026-02-01T12:18:00.800Z",
      "role": "workflow:owner",
      "workflowId": "v1CENA6nRNLV5AG1",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}