n8n/All-Workflows/inactive/Daily_AI_News_Digest_1.json
{
  "updatedAt": "2026-02-02T22:57:50.519Z",
  "createdAt": "2026-02-02T22:57:50.519Z",
  "id": "KNflw1BsDco0LqKdEZpT-",
  "name": "Daily AI News Digest",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "4c175e6c-489b-49a5-98cd-53c93603bc6d",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        144
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "817521be-0f7c-4493-9284-74b160eb50c0",
      "name": "AI News RSS 1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        48
      ]
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/feed/",
        "options": {}
      },
      "id": "04200ce3-d84c-4fcc-9165-ab8aca596485",
      "name": "AI News RSS 2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        256
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "56c5618e-039e-4190-9648-49b7ce755eed",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an email digest from these {{ $json.totalFound }} AI news articles (showing top 5):\n\n{{ $json.articles.map((a, i) => `${i+1}. **${a.title}**\n   Link: ${a.link}\n   Age: ${a.ageInDays} days | Relevance: ${a.score}\n   Preview: ${a.description.substring(0, 150)}...\n`).join('\\n') }}",
        "options": {
          "systemMessage": "You are an AI news curator creating a PREMIUM daily email digest.\n\nCRITICAL OUTPUT RULES:\n1. Output ONLY raw HTML - NO markdown code fences\n2. Start directly with <div> tag\n3. Use inline CSS styles only\n\nCOLORS:\n- Background: White (#ffffff)\n- Heading: Black (#1a1a1a)\n- Body: Dark gray (#333)\n- Accent: Neon cyan (#00e5ff)\n\nStructure: Header with logo, 5 news cards with cyan accents, pro tip box, branded footer."
        }
      },
      "id": "d932eea4-dbe8-4ef9-8576-2426c08680e8",
      "name": "AI News Curator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1072,
        272
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=\ud83e\udd16 Daily AI News Digest - {{ $now.format('MMM d, yyyy') }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "f388567b-f73b-4636-b5d9-12aa51cca2c1",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        272
      ],
      "webhookId": "d1b48238-bfcc-4bf3-9d07-6653312e03d1"
    },
    {
      "parameters": {},
      "id": "763be1c2-590a-4642-878e-50a8fc6a66f3",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "id": "6c267b8c-910e-4cee-aa4c-e8b17898bed2",
      "name": "AI Business RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {}
      },
      "id": "894fc61d-ca28-478f-a870-7318bd347a72",
      "name": "AI Automation RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keywords for AI automation, business, money-making\nconst keywords = [\n  'automation', 'automate', 'workflow', 'business', 'enterprise',\n  'startup', 'company', 'money', 'revenue', 'profit', 'income',\n  'monetize', 'ai agent', 'chatgpt', 'openai', 'claude', 'gemini',\n  'llm', 'gpt', 'machine learning', 'saas', 'tool', 'platform'\n];\n\nconst now = new Date();\nconst maxAgeDays = 5;\nconst results = [];\nconst seenTitles = new Set();\n\nfor (const item of $input.all()) {\n  const title = (item.json.title || '').trim();\n  const titleLower = title.toLowerCase();\n  \n  if (seenTitles.has(titleLower)) continue;\n  seenTitles.add(titleLower);\n  \n  const desc = (item.json.description || item.json.contentSnippet || '').toLowerCase();\n  const content = titleLower + ' ' + desc;\n  \n  const pubDate = new Date(item.json.pubDate || item.json.isoDate || now);\n  const ageInDays = (now - pubDate) / (1000 * 60 * 60 * 24);\n  if (ageInDays > maxAgeDays) continue;\n  \n  let score = 0;\n  for (const kw of keywords) {\n    if (content.includes(kw)) score++;\n  }\n  if (score === 0) continue;\n  \n  results.push({\n    title: title,\n    link: item.json.link,\n    description: (item.json.contentSnippet || item.json.description || '').substring(0, 300),\n    pubDate: item.json.pubDate,\n    score: score,\n    ageInDays: Math.round(ageInDays * 10) / 10\n  });\n}\n\nresults.sort((a, b) => b.score - a.score || a.ageInDays - b.ageInDays);\nconst top5 = results.slice(0, 5);\n\nreturn [{\n  json: {\n    totalFound: results.length,\n    articles: top5\n  }\n}];"
      },
      "id": "220fa771-8e47-4cff-a29b-560685082f23",
      "name": "Filter & Limit News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        272
      ]
    },
    {
      "parameters": {},
      "id": "19a8a3d7-5d86-4828-a19a-f3159e203276",
      "name": "Merge 1-2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        512,
        96
      ]
    },
    {
      "parameters": {},
      "id": "78a7aa34-8917-4c3e-be1e-c6174ccfc3f0",
      "name": "Merge 3-4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        512,
        448
      ]
    },
    {
      "parameters": {},
      "id": "64972708-4a5e-4e05-b25c-bfc26173fdb3",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        688,
        272
      ]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "AI News RSS 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI News RSS 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Business RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Automation RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "AI News RSS 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI News RSS 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Business RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Automation RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News RSS 1": {
      "main": [
        [
          {
            "node": "Merge 1-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News RSS 2": {
      "main": [
        [
          {
            "node": "Merge 1-2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Business RSS": {
      "main": [
        [
          {
            "node": "Merge 3-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Automation RSS": {
      "main": [
        [
          {
            "node": "Merge 3-4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1-2": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3-4": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Filter & Limit News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Limit News": {
      "main": [
        [
          {
            "node": "AI News Curator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Curator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI News Curator": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f5b7edd2-3dcb-42f0-85ff-7d247790e7ab",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-02T22:57:50.522Z",
      "createdAt": "2026-02-02T22:57:50.522Z",
      "role": "workflow:owner",
      "workflowId": "KNflw1BsDco0LqKdEZpT-",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}