n8n/All-Workflows/inactive/Dhruv_Whatsapp_Ai_Agent.json
{
  "updatedAt": "2025-09-30T15:26:56.000Z",
  "createdAt": "2025-09-30T15:26:56.179Z",
  "id": "pEnMP4qhvQ7CICfc",
  "name": "Dhruv Whatsapp Ai Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        176
      ],
      "id": "1b0619bf-2cf1-459b-af70-dd33407aa318",
      "name": "WhatsApp Trigger",
      "webhookId": "b8f82dc9-70ad-4beb-ab93-750443573469"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reply for this  {{ $json.messages[0].text.body }}\n\nDo not exceed so many characters as whatsapp has limitation",
        "options": {
          "systemMessage": "=Behave Like McKinsey Consutant \n\nImportant also Call Perplexity Web Search tool if needed any information from web search\n\nTry to Answer in whatsapp format \nlike in lines or headline then down side par\nagraph few bol text or sperating another line with dot \n\nkeep neat and clean"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -432,
        176
      ],
      "id": "01b424f1-c4f9-413b-aeaa-8e29e1e977be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        400
      ],
      "id": "9b2ce34c-6f4a-42ab-9b7a-bc8f64e185c2",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "720983944439614",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "8c8b541d-6bd9-41c7-a304-2178867ddaf9",
      "name": "Send message",
      "webhookId": "266b0b7a-5ec8-404d-ad10-2b6ca2cf9258"
    },
    {
      "parameters": {
        "toolDescription": "Use this whenever Ai agent need any data from web and respond",
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -208,
        448
      ],
      "id": "d93d255e-7aa5-4125-82da-b063d2c0ca4f",
      "name": "Perplexity Web Search"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d05ec399-b958-4f6c-8728-102767d1323f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d8d2bd39-70bb-4359-917a-90cf08a7a0c8",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        176
      ],
      "id": "20ed8882-2593-47e5-a1e0-67521629a0b2",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\":\"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "f08ea89d-3320-4fba-ac59-2294e4a7942f",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23c0d1fa-897f-4a1a-b201-8103e473adea",
              "name": "data",
              "value": "={{ $json.choices[0].message.images[0].image_url.url }}",
              "type": "string"
            },
            {
              "id": "bcf338f7-575f-492b-ab68-535263d65a17",
              "name": "base",
              "value": "={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}",
              "type": "string"
            },
            {
              "id": "6fff18a2-acc9-42b9-bf7c-6662ddb18ab3",
              "name": "mime",
              "value": "image/png",
              "type": "string"
            },
            {
              "id": "cb656296-3407-40cd-9271-88ee33710e12",
              "name": "fileName",
              "value": ".png",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "c872cdc6-955a-4799-8637-ecc558834465",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "={{ $json.mime }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "c51804d3-07e1-441c-9222-6496b3d96e08",
      "name": "Image"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "720983944439614",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "f2bf016c-6da5-4496-b60a-687dc1d8ff84",
      "name": "Send message1",
      "webhookId": "944f2f54-edd5-40e0-9957-3191d72c7cd1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        432
      ],
      "id": "10d35f5f-ec1a-4501-b04b-a07d2c010e91",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        432
      ],
      "id": "99b305cd-ad50-4270-a8db-c14abd998c66",
      "name": "2.5 Flash"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fe0e63cf-d6ae-4a11-859e-08a58fdbc937",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-30T15:26:56.182Z",
      "createdAt": "2025-09-30T15:26:56.182Z",
      "role": "workflow:owner",
      "workflowId": "pEnMP4qhvQ7CICfc",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}