n8n/All-Workflows/inactive/eleven_labs_testing.json
{
  "updatedAt": "2026-01-18T13:56:34.894Z",
  "createdAt": "2026-01-18T13:37:38.182Z",
  "id": "dr4Feg31hYZ2fLQ9",
  "name": "eleven labs testing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f9b91a94-059b-49e7-85fa-ed838bba19eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -256
      ],
      "id": "82db2674-b8ce-488e-b450-ff8ac80248a4",
      "name": "Webhook",
      "webhookId": "f9b91a94-059b-49e7-85fa-ed838bba19eb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.user_request }}",
        "options": {
          "systemMessage": "You are a helpful assistant\nUse tool\nto send email \n# Gmail_Send\n\nUser Web_Search to search data from internent"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        -256
      ],
      "id": "c4396993-07a2-42a4-b582-68a838160666",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -352,
        -48
      ],
      "id": "fc2f64b5-dd34-4f4a-b7cb-e04be8cb65e1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5NHf7ILbLoMVxKcb",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_request }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        -48
      ],
      "id": "7e816e13-ddc1-4494-aecc-22baabe4f64d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -64,
        -48
      ],
      "id": "64c94519-27e5-44e8-a73e-b1eac27eadbf",
      "name": "Gmail_Send",
      "webhookId": "625d5174-de62-4333-a3d1-549aaa6ea3f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $json.body.user_request }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        64,
        -32
      ],
      "id": "39841e1b-991b-4ba3-8a32-6fcdf2158e1e",
      "name": "Web_Search",
      "credentials": {
        "tavilyApi": {
          "id": "5GWaJhYsrLHYZkOF",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        -256
      ],
      "id": "83b70533-1183-4ca2-ac82-248a1bd68231",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web_Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "33cb5881-d145-438a-9fc4-b255e38e4432",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-18T13:37:38.187Z",
      "createdAt": "2026-01-18T13:37:38.187Z",
      "role": "workflow:owner",
      "workflowId": "dr4Feg31hYZ2fLQ9",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}