n8n/All-Workflows/inactive/Email_Follow-up_Handler_Assignment_Steps_10-11.json
{
  "updatedAt": "2026-02-03T00:54:35.036Z",
  "createdAt": "2026-02-03T00:31:01.924Z",
  "id": "3C4Sh8mi00snAV2z",
  "name": "Email Follow-up Handler (Assignment Steps 10-11)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail: New Email Received",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_LEAD_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lead Contact Form"
        },
        "options": {}
      },
      "id": "read-lead-sheet",
      "name": "Read Lead Contact Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming email sender\nconst incomingEmail = $('Gmail: New Email Received').first().json;\nconst senderEmail = incomingEmail.from?.value?.[0]?.address || incomingEmail.from || '';\n\n// Get all leads from the sheet\nconst leads = $input.all().map(item => item.json);\n\n// Find matching lead\nconst matchedLead = leads.find(lead => {\n  const leadEmail = (lead['Email Id'] || lead.EmailId || '').toLowerCase();\n  return leadEmail === senderEmail.toLowerCase();\n});\n\nif (matchedLead) {\n  return [{\n    json: {\n      responseReceived: true,\n      senderEmail: senderEmail,\n      subject: incomingEmail.subject || '',\n      leadName: matchedLead.Name,\n      leadCompany: matchedLead.Company,\n      emailSentStatus: matchedLead['Email Sent'] || matchedLead.EmailSent,\n      currentResponse: matchedLead.Response || ''\n    }\n  }];\n} else {\n  return [{\n    json: {\n      responseReceived: false,\n      senderEmail: senderEmail,\n      subject: incomingEmail.subject || '',\n      message: 'No matching lead found in sheet'\n    }\n  }];\n}"
      },
      "id": "find-matching-lead",
      "name": "Find Lead by Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.responseReceived }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-is-lead-response",
      "name": "Is Lead Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_LEAD_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lead Contact Form"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Response": "Yes"
          },
          "matchingColumns": [
            "Email Id"
          ],
          "schema": [
            {
              "id": "Email Id",
              "displayName": "Email Id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "mark-response-yes",
      "name": "Mark Response = Yes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -96
      ]
    },
    {
      "parameters": {
        "content": "# Gmail Trigger \u2013 Response Detection (Step 10)\n\n## What This Workflow Does\nWhen a **new unread email** arrives in Gmail, this workflow:\n1. Reads the Lead Contact Form sheet\n2. Checks if the sender email matches any lead's Email Id\n3. If match found \u2192 marks Response = Yes in that row\n\n## Gmail Trigger Setup\n- **Event:** Message Received\n- **Filters:** readStatus = unread (only unread emails)\n- **Credentials:** Gmail OAuth2 (same as main workflow)\n\n## Polling\nGmail Trigger polls your inbox on an interval (e.g. every 5\u201315 min). Adjust in the trigger node.\n\n## Activate This Workflow\nPublish and activate so it runs when new emails arrive. Works alongside the main Lead Generation workflow.",
        "height": 688,
        "width": 448
      },
      "id": "sticky-trigger",
      "name": "Trigger Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -48
      ]
    },
    {
      "parameters": {
        "content": "# Response Handling \u2013 Mark Response = Yes (Step 10)\n\n## Flow\n1. **Read Lead Contact Sheet** \u2013 Loads all leads\n2. **Find Lead by Email** \u2013 Compares incoming sender with `Email Id` column (case-insensitive)\n3. **Is Lead Response?** \u2013 If match \u2192 TRUE branch\n4. **Mark Response = Yes** \u2013 Updates the matching row's Response column to `Yes`\n\n## Google Sheets Update\n- **Operation:** Update Row\n- **Match by:** Email Id = sender's email\n- **Update:** Response = Yes\n\n## No Match\nIf sender is not in the sheet, the FALSE branch does nothing (no update).\n\n## Follow-up Emails\nFollow-up emails (2 & 3) are sent by the **Follow-up Email Sender** workflow, which runs on a schedule.",
        "height": 640,
        "width": 672
      },
      "id": "sticky-response",
      "name": "Response Handling",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -240
      ]
    },
    {
      "parameters": {
        "content": "# Setup \u2013 Email Follow-up Handler\n\n## 1. Replace Sheet ID\nIn **Read Lead Contact Sheet** and **Mark Response = Yes** nodes:\n- documentId: `YOUR_LEAD_SHEET_ID` (same as main workflow)\n\n## 2. Credentials\n- **Google Sheets OAuth2** \u2013 Read Lead sheet, update Response column\n- **Gmail OAuth2** \u2013 For the trigger (must have read access to inbox)\n\n## 3. Activate\nPublish and activate this workflow so it runs when new emails arrive.\n\n## 4. Same Sheet as Main Workflow\nThis workflow reads/writes the **Lead Contact Form** sheet. Must use the same sheet ID as the main Lead Generation workflow.",
        "height": 576,
        "width": 576
      },
      "id": "sticky-setup",
      "name": "Setup for This Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -544
      ]
    },
    {
      "parameters": {
        "content": "# Flow: New Email \u2192 Mark Response\n\nGmail (new email) \u2192 Read Lead Sheet \u2192 Find Lead by Email \u2192 Is sender in sheet?\n\nYES \u2192 Mark Response = Yes in matching row\nNO \u2192 Do nothing (email not from a lead)\n\nFind Lead by Email compares incoming sender with each row's Email Id (case-insensitive).",
        "height": 256,
        "width": 608
      },
      "id": "sticky-flow",
      "name": "Flow Diagram",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        -544
      ]
    }
  ],
  "connections": {
    "Gmail: New Email Received": {
      "main": [
        [
          {
            "node": "Read Lead Contact Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Lead Contact Sheet": {
      "main": [
        [
          {
            "node": "Find Lead by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead by Email": {
      "main": [
        [
          {
            "node": "Is Lead Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Response?": {
      "main": [
        [
          {
            "node": "Mark Response = Yes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "022974b4-da0b-4357-b431-0129c4a2707f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T00:31:01.927Z",
      "createdAt": "2026-02-03T00:31:01.927Z",
      "role": "workflow:owner",
      "workflowId": "3C4Sh8mi00snAV2z",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}