n8n/All-Workflows/inactive/End-to-End_Lead_Management_with_AI_Follow-up_and_Team_Alerts.json
{
  "updatedAt": "2026-02-01T11:30:46.491Z",
  "createdAt": "2026-01-22T16:16:13.208Z",
  "id": "Q9CW7DIiUfhYPrET",
  "name": "End-to-End Lead Management with AI Follow-up and Team Alerts",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Capture Form",
        "formDescription": "Please share your details so we can get in touch with you ",
        "formFields": {
          "values": [
            {
              "fieldName": "name",
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldName": "email",
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldName": "phone",
              "fieldLabel": "Phone Number",
              "requiredField": true
            },
            {
              "fieldName": "source",
              "fieldLabel": "How did you hear about us?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Website"
                  },
                  {
                    "option": "Social Media"
                  },
                  {
                    "option": "Referral"
                  },
                  {
                    "option": "Advertisement"
                  },
                  {
                    "option": "Chat GPT"
                  },
                  {
                    "option": "Others"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "Requirement",
              "fieldLabel": "Share Challenges"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Submit Lead",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you! We will contact you shortly."
            }
          }
        }
      },
      "id": "75d346bc-9c0d-4a44-82e6-8aa0724ded79",
      "name": "Lead Capture Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1120,
        192
      ],
      "webhookId": "22d37feb-67c6-4f49-810c-b79208af9760"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "telegram_chat_id",
              "value": "637313836",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sales_team_name",
              "value": "Dhruv",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "company_name",
              "value": "Agentic Ai Solutions",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "de0aa512-389f-4a9e-82d8-54b63bf7715a",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Lead Capture Form').item.json.email }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $('Lead Capture Form').item.json.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $('Lead Capture Form').item.json.name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "442a237e-33d1-4ac8-af16-4f33657517c4",
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-1",
              "name": "Name",
              "value": "={{ $('Lead Capture Form').item.json.name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $('Lead Capture Form').item.json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "phone",
              "value": "={{ $('Lead Capture Form').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "source",
              "value": "={{ $('Lead Capture Form').item.json.source }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "status",
              "value": "New Lead",
              "type": "string"
            },
            {
              "id": "65458c8f-323b-4a1f-8c8e-d93051bd5917",
              "name": "Requirement",
              "value": "={{ $('Lead Capture Form').item.json.Requirement }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4857d507-fff1-4b4d-b068-8f4243d3b3a2",
      "name": "Structure Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4",
          "mode": "list",
          "cachedResultName": "Aiwithdhruv_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494694657,
          "mode": "list",
          "cachedResultName": "Collect Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=494694657"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.Name }}",
            "email": "={{ $json.email }}",
            "source": "={{ $json.source }}",
            "status": "={{ $json.status }}",
            "Requirement": "={{ $json.Requirement }}",
            "Phone Number": "={{ $json.phone }}",
            "AI Call Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI Call Status",
              "displayName": "AI Call Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ai Discussion",
              "displayName": "Ai Discussion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recording URL",
              "displayName": "Recording URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "39aece23-e247-4936-90b6-a60b53079b0f",
      "name": "Store in Google Sheets CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Workflow Configuration').item.json.telegram_chat_id }}",
        "text": "=\ud83c\udfaf New Lead Alert!\n\n\ud83d\udc64 Name: {{ $json.Name }}\n\ud83d\udce7 Email: {{ $json.email }}\n\ud83d\udcf1 Phone: {{ $json['Phone Number'] }}\n\ud83d\udd17 Source: {{ $json.source }}\n\u23f0 Time: {{ $json.timestamp }}\n\nStatus: {{ $json.status }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "175b6a57-570b-419e-8a0a-f28d8c33ac6d",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "webhookId": "c82e367e-64f6-433d-9818-d78241f2e553",
      "credentials": {
        "telegramApi": {
          "id": "oejH8VUyC9QHNPHe",
          "name": "Lead_Alert"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "lead_name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "lead_email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "lead_source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "company_name",
              "value": "=No Company Name",
              "type": "string"
            },
            {
              "id": "e19e9278-0025-4a49-b430-72ecc43d3726",
              "name": "Requirement",
              "value": "={{ $('Lead Capture Form').item.json.Requirement }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7daf79f8-5c98-4b4d-be82-5324c6368f64",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a personalized follow-up email for this new lead:\n\nLead Details:\n- Name: {{ $json.lead_name }}\n- Email: {{ $json.lead_email }}\n- Source: {{ $json.lead_source }}\n- Company: {{ $json.company_name }}\n- Requirement - {{ $json.Requirement }}\n\nThe email should:\n1. Thank them for their interest\n2. Acknowledge how they found us ({{ $json.lead_source }})\n3. Briefly introduce our company\n4. Offer to schedule a call or answer questions\n5. Include a clear call-to-action\n\nMake it feel personalized, not templated.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional sales representative who writes warm, personalized follow-up emails for new leads. Your emails should be friendly but professional, acknowledge how the lead found the company, and include a clear call-to-action.\n\n\n\n{\n  \"role\": \"system\",\n  \"content\": \"You are an email generator. Respond ONLY in valid JSON. Do not use line breaks, new lines, or markdown. Do not add explanations.\"\n}"
        }
      },
      "id": "0819cfbe-3281-422f-b369-0f7ad8627bef",
      "name": "Generate Personalized Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"Email subject line\",\n\t\"greeting\": \"Opening greeting\",\n\t\"body\": \"Email body content\"\n}"
      },
      "id": "a0c67464-0148-4c85-b1e8-e81e9c0a3342",
      "name": "Email Structure Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        416
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Structure Lead Data').item.json.email }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fca742df-2ff6-4f1c-8ba0-615abd267aa7",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        192
      ],
      "webhookId": "942ac669-b40a-4d99-bafe-d5598609a136",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error_message",
              "value": "Invalid lead data: Missing or invalid email address",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "lead_data",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3a9f0334-7ef9-4a00-be92-b91b2ca98194",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        288
      ]
    },
    {
      "parameters": {
        "content": "\ud83d\udccb WORKFLOW OVERVIEW\n\nThis workflow automates lead management:\n1\ufe0f\u20e3 Captures leads via web form\n2\ufe0f\u20e3 Validates & stores in Google Sheets\n3\ufe0f\u20e3 Alerts sales team via Telegram\n4\ufe0f\u20e3 Generates AI-powered follow-up email\n5\ufe0f\u20e3 Sends personalized email to lead\n\n\u2699\ufe0f SETUP REQUIRED:\n\u2022 Google Sheets credentials\n\u2022 Telegram bot token\n\u2022 Gmail OAuth2\n\u2022 OpenAI API key\n\u2022 Update Workflow Configuration node",
        "height": 312,
        "width": 400,
        "color": 4
      },
      "id": "10ff9b47-cd24-4da7-b6d1-780a67ef2440",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -208
      ]
    },
    {
      "parameters": {
        "content": "\ud83d\udcdd FORM TRIGGER\n\nCollects lead information:\n\u2022 Full Name (required)\n\u2022 Email Address (required)\n\u2022 Phone Number (required)\n\u2022 Source dropdown (required)\n\n\ud83d\udd17 Share the form URL with prospects\n\u2705 Attribution disabled for clean UX",
        "height": 216,
        "width": 408,
        "color": 5
      },
      "id": "fd495509-12ec-43a1-9af1-c5dea10498c6",
      "name": "Form Trigger Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1376,
        160
      ]
    },
    {
      "parameters": {
        "content": "\u2699\ufe0f CONFIGURATION\n\n\ud83d\udd27 UPDATE THESE VALUES:\n\u2022 telegram_chat_id: Your Telegram chat ID\n\u2022 sales_team_name: Your team name\n\u2022 company_name: Your company name\n\nThese values are used throughout the workflow",
        "height": 180,
        "width": 408,
        "color": 6
      },
      "id": "6b5e0c7d-f24b-4f5e-b92d-6f59b3086822",
      "name": "Configuration Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -64
      ]
    },
    {
      "parameters": {
        "content": "\u2705 VALIDATION\n\nChecks lead data quality:\n\u2022 Email is not empty\n\u2022 Email contains @ symbol\n\u2022 Name is not empty\n\n\u2714\ufe0f Valid \u2192 Continue to storage\n\u274c Invalid \u2192 Error handler",
        "height": 244,
        "width": 280,
        "color": 3
      },
      "id": "bec3aa08-78d0-420c-867e-565a3eba4362",
      "name": "Validation Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        352
      ]
    },
    {
      "parameters": {
        "content": "\ud83d\udcbe DATA STORAGE\n\n1\ufe0f\u20e3 Structure Lead Data:\n   Formats fields + adds timestamp & status\n\n2\ufe0f\u20e3 Store in Google Sheets:\n   Appends/updates lead in CRM\n   Matches by email address\n\n\u26a0\ufe0f UPDATE: Set your Google Sheet ID",
        "height": 232,
        "width": 320,
        "color": 2
      },
      "id": "d2a2678d-b3af-4310-962c-92aa1db2f5e1",
      "name": "Data Storage Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -256
      ]
    },
    {
      "parameters": {
        "content": "\ud83d\udce2 SALES ALERT\n\nSends instant Telegram notification:\n\u2022 Lead name, email, phone\n\u2022 Source & timestamp\n\u2022 Status indicator\n\n\u26a0\ufe0f SETUP: Configure Telegram bot credentials",
        "height": 180,
        "width": 280,
        "color": 7
      },
      "id": "af9568e0-43a9-4990-842f-d4b11c789857",
      "name": "Notification Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -256
      ]
    },
    {
      "parameters": {
        "content": "\ud83e\udd16 AI EMAIL GENERATION\n\n1\ufe0f\u20e3 Prepare AI Input:\n   Extracts lead data for AI prompt\n\n2\ufe0f\u20e3 Generate Email:\n   GPT-4o-mini creates personalized email\n   \u2022 Thanks lead for interest\n   \u2022 Acknowledges source\n   \u2022 Clear call-to-action\n\n3\ufe0f\u20e3 Structure Parser:\n   Formats output (subject, greeting, body)\n\n4\ufe0f\u20e3 Send via Gmail:\n   Delivers personalized follow-up\n\n\u26a0\ufe0f SETUP: OpenAI + Gmail credentials",
        "height": 280,
        "width": 360,
        "color": 4
      },
      "id": "d4398c45-15e7-4661-a192-ecca09f22f7d",
      "name": "AI Email Generation Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        400
      ]
    },
    {
      "parameters": {
        "content": "\u26a0\ufe0f ERROR HANDLING\n\nCaptures invalid leads:\n\u2022 Missing email\n\u2022 Invalid email format\n\u2022 Missing name\n\nLogs error details with timestamp\nfor troubleshooting",
        "height": 180,
        "width": 280,
        "color": 5
      },
      "id": "936f1a92-ef3b-4d61-9487-be19560f8d86",
      "name": "Error Handling Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        -144
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        400
      ],
      "id": "21b94f49-601f-42a2-b2bd-c31bd315feaf",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5NHf7ILbLoMVxKcb",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        416
      ],
      "id": "0a9fdac0-b5bf-4677-ab5b-db8a676ed4cd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "UfUiOv2EqEIT6ft2",
          "name": "Postgres account_2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4",
          "mode": "list",
          "cachedResultName": "Aiwithdhruv_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494694657,
          "mode": "list",
          "cachedResultName": "Collect Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=494694657"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        912
      ],
      "id": "de98bf1f-2da2-4d1c-858a-2efdc8ebcf37",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ER35FLmb8qkMRyaj",
          "name": "Ai with Dhruv Trigger"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk",
          "mode": "list",
          "cachedResultName": "Form Submission Outbound Caller",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "Name": "={{ $json.Name }}",
            "Phone": "={{ $json['Phone Number'] }}",
            "Email": "={{ $json.Email }}",
            "Company": "={{ $json['Company Name'] }}",
            "Role": "={{ $json.Role }}",
            "Request": "={{ $json.Request }}",
            "Company Size": "={{ $json['Company Size'] }}",
            "Status": "Incorrect Phone #"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size",
              "displayName": "Company Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Interest",
              "displayName": "Service Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivation",
              "displayName": "Motivation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Past Experience",
              "displayName": "Past Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent?",
              "displayName": "Intent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        736
      ],
      "id": "2fa95fdb-2b3e-4980-9b57-413349291c0b",
      "name": "Log Incorrect Phone",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e68a68dc-720b-423e-84f5-1b7aa9238daa",
              "leftValue": "={{ $json[\"Phone Number\"] }}",
              "rightValue": "incorrect format",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        896
      ],
      "id": "e666ebcc-dfc0-48c8-8627-6eac8910cec8",
      "name": "Incorrect Phone?"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Process each item\nreturn items.map(item => {\n  const phoneNumber = item.json['Phone Number'];\n  \n  // Convert to string and remove all non-digit characters\n  let cleanNumber = String(phoneNumber).replace(/\\D/g, '');\n  \n  // Handle different cases\n  let standardizedNumber;\n  \n  if (cleanNumber.length === 10) {\n    // Perfect - just 10 digits\n    standardizedNumber = cleanNumber;\n  } else if (cleanNumber.length === 11 && cleanNumber.startsWith('1')) {\n    // US number with country code +1\n    standardizedNumber = cleanNumber.slice(1);\n  } else {\n    // Wrong format - too many, too few, or wrong country code\n    standardizedNumber = 'incorrect format';\n  }\n  \n  // Return the item with standardized phone number\n  return {\n    json: {\n      ...item.json,\n      'Phone Number': standardizedNumber\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        896
      ],
      "id": "e77f1702-e2c2-41b7-a8e2-d9ba13af26a7",
      "name": "Standardize Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"b05881f5-48a0-4dc5-a7d0-5bdd6ddc52ec\",\n  \"phoneNumberId\": \"23f7c809-ba0c-4bd3-a706-7509a9a853a8\",\n  \"customers\": [\n    {\n      \"number\": \"+91{{ $json['Phone Number'] }}\"\n    }\n  ],\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"lead_name\": \"{{ $json.Name }}\",\n      \"lead_company_name\": \"{{ $json['Company Name'] }}\",\n      \"lead_request\": \"{{ $json.Requirement }}\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        976
      ],
      "id": "3dd2d9a5-85c7-49bb-bccb-da32ab8f56fd",
      "name": "Call Lead",
      "credentials": {
        "httpBearerAuth": {
          "id": "ChR34jWF1yJXcipO",
          "name": "Vapi"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -240,
        896
      ],
      "id": "22594c42-2f94-4255-92ea-6eb043e3134c",
      "name": "Wait",
      "webhookId": "0c05dec5-3ea2-4c18-9d2f-8e3e5d1689a8"
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $json.results[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        896
      ],
      "id": "e91db9ed-c305-4460-942f-1e03b9a342c9",
      "name": "Get Call Details",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "ChR34jWF1yJXcipO",
          "name": "Vapi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73716a76-22fa-4f8c-880f-b76350b436f9",
              "leftValue": "={{ $json.endedReason }}",
              "rightValue": "voicemail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        816
      ],
      "id": "4fb9a808-47b1-433e-b0b2-9bcff5e19c26",
      "name": "Voicemail?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30c7ebf4-6de9-49f3-9a27-b7f3a7e2b558",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        896
      ],
      "id": "c1aa3277-0125-44c6-aaf4-321f543248e5",
      "name": "Ended?"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        976
      ],
      "id": "8e18f7c2-e674-46d9-bd22-c561e5df7c14",
      "name": "Polling",
      "webhookId": "521bc4a4-0445-4842-be13-770e334bb86d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk",
          "mode": "list",
          "cachedResultName": "Form Submission Outbound Caller",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Phone": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Company": "={{ $('On form submission').item.json['Company Name'] }}",
            "Role": "={{ $('On form submission').item.json.Role }}",
            "Request": "={{ $('On form submission').item.json.Request }}",
            "Company Size": "={{ $('On form submission').item.json['Company Size'] }}",
            "Service Interest": "N/A",
            "Motivation": "N/A",
            "Urgency": "N/A",
            "Past Experience": "N/A",
            "Budget": "N/A",
            "Intent?": "N/A",
            "Status": "Call Back"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size",
              "displayName": "Company Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Interest",
              "displayName": "Service Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivation",
              "displayName": "Motivation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Past Experience",
              "displayName": "Past Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent?",
              "displayName": "Intent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        800
      ],
      "id": "fd363f74-c610-4084-9b23-0a8165a619b1",
      "name": "Log Voicemal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SdL7tmc5CSF99khk",
          "name": "Dhruv7008@"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        160,
        896
      ],
      "id": "e54ee41f-d097-494a-843e-a76155586aac",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4",
          "mode": "list",
          "cachedResultName": "Aiwithdhruv_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494694657,
          "mode": "list",
          "cachedResultName": "Collect Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=494694657"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Call Status": "Done",
            "Ai Discussion": "={{ $('Get Call Details').item.json.transcript }} ",
            "Recording URL": "={{ $('Get Call Details').item.json.recordingUrl }}",
            "Phone Number": "={{ $('Google Sheets Trigger').item.json['Phone Number'] }}"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI Call Status",
              "displayName": "AI Call Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ai Discussion",
              "displayName": "Ai Discussion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recording URL",
              "displayName": "Recording URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        976
      ],
      "id": "033d7d99-e30f-461c-8865-995f39cce384",
      "name": "Log Complete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aiwithdhruv@gmail.com",
        "subject": "New Lead",
        "emailType": "text",
        "message": "=\ud83c\udfaf New Lead Alert!\n\n\ud83d\udc64 Name: {{ $('Lead Capture Form').item.json.name }}\n\ud83d\udce7 Email: {{ $('Lead Capture Form').item.json.email }}\n\ud83d\udcf1 Phone: {{ $('Lead Capture Form').item.json.phone }}\n\ud83d\udd17 Source: {{ $('Lead Capture Form').item.json.source }}\n\u23f0 Time: {{ $('Structure Lead Data').item.json.timestamp }}\n\nStatus: {{ $('Structure Lead Data').item.json.status }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "aaef44c2-b05d-4207-94a2-5f92285b264c",
      "name": "Send a message",
      "webhookId": "3b5596c8-e1a2-4403-bd37-3cc7280d18a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "5b2550df-8275-4a23-89d4-26567ffa400d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdef613e-c6e9-4e30-a6f4-512c3f3173b4",
              "leftValue": "={{ $json['AI Call Status'] }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        912
      ],
      "id": "20cc2a84-15ae-40e5-a5e8-d1845b834ec5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1008,
        896
      ],
      "id": "d2b13ea0-8835-400f-9c48-34f3e6525d58",
      "name": "Limit1"
    },
    {
      "parameters": {
        "content": "### Make AI calls to added leads\n",
        "height": 128,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        912
      ],
      "typeVersion": 1,
      "id": "4ebeda76-d43c-4dbf-b5ca-6b7338964dce",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Lead Capture Form": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "Structure Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Lead Data": {
      "main": [
        [
          {
            "node": "Store in Google Sheets CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Google Sheets CRM": {
      "main": [
        [
          {
            "node": "Alert Sales Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Structure Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Personalized Email",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Personalized Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Generate Personalized Email",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Incorrect Phone?": {
      "main": [
        [
          {
            "node": "Log Incorrect Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Data": {
      "main": [
        [
          {
            "node": "Incorrect Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Lead": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Call Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Details": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voicemail?": {
      "main": [
        [
          {
            "node": "Log Voicemal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ended?": {
      "main": [
        [
          {
            "node": "Voicemail?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling": {
      "main": [
        [
          {
            "node": "Get Call Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Ended?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Sales Team": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Standardize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4",
      "sheetId": 494694657,
      "lastRevision": 505,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4&revision=505&exportFormat=xlsx"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7d187fd5-02da-4e93-b93e-a3b2182e7746",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-22T16:16:13.212Z",
      "createdAt": "2026-01-22T16:16:13.212Z",
      "role": "workflow:owner",
      "workflowId": "Q9CW7DIiUfhYPrET",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}