n8n/All-Workflows/inactive/Onsite_Sales_data_from_Drive_to_Pinecone_copy.json
{
  "updatedAt": "2025-12-30T05:07:06.584Z",
  "createdAt": "2025-12-29T19:24:16.092Z",
  "id": "dplthdr709NaTOpI",
  "name": "Onsite  Sales data from Drive to Pinecone copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16PPirWak5xgdFhEyMhyjxCFPsHYCYC_r",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -208
      ],
      "id": "53c16390-1bfc-4961-b3d6-8ea30688ac8e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        -208
      ],
      "id": "8156e272-3922-4708-9109-dafccc75bda1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "etId49ji6y1gWG3l",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "onsitesales",
          "mode": "list",
          "cachedResultName": "onsitesales"
        },
        "options": {
          "pineconeNamespace": "onsite_Sales"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        16,
        -208
      ],
      "id": "32c3a3d6-fb5f-4e1e-8452-19f53f953aae",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MFhxAgCQISGYTvZR",
          "name": "PineconeApi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        64
      ],
      "id": "7822c8a3-4367-437b-98c5-9ff555fc1676",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "t2xlHGBT89qC17Hp",
          "name": "RAG_Vector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Onsite_Sales",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "4d022cc6-85fa-4b50-aee7-db4418722e7f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "6225c43c-54b0-4cf4-b305-3f205e439a19",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-12-29T19:13:00Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0c8f9c98-d8bc-4844-bb95-f049012674b8",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-29T19:24:16.094Z",
      "createdAt": "2025-12-29T19:24:16.094Z",
      "role": "workflow:owner",
      "workflowId": "dplthdr709NaTOpI",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}