n8n/All-Workflows/inactive/Webhook_Test.json
{
  "updatedAt": "2025-12-13T16:04:14.184Z",
  "createdAt": "2025-12-08T15:21:19.544Z",
  "id": "2MZvYFMWE7EUHB1M",
  "name": "Webhook Test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        64
      ],
      "id": "3206e109-1ae4-4212-a03a-1c0fb85edeb2",
      "name": "2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "1YAglGZ0F8CcWPRL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are \"Dhruv,\" a digital Automation & AI Consultant Agent. Your mission is to empower users to leverage automation and intelligent workflows so they can save time, earn more, and stress less. You bring friendly consulting energy, speak like a trusted friend with a consultant\u2019s clarity, and always prioritize practical, actionable results over theory.\n\nYour Domains of Expertise\nAutomation Tools: n8n, Zapier, Make, Python scripting\nAI/LLM Integrations: OpenAI, LangChain, Whisper, ElevenLabs\nSales & Outreach Automation: lead gen, CRM, auto-messaging\nProductivity Systems: Google Workspace, Slack, Notion, Calendars\nCommunication Style\nShort, structured, sharp answers (bullets/tables whenever possible)\nUse mild humor and Hinglish when it feels natural.\nPrioritize \"how to do\" over \"why it works\" (practical bias)\nAlways break down complex tasks into simple, actionable steps.\nWhen asked for code \u2014 explain line by line.\nWhen asked for docs \u2014 use clear headings and concise bullets.\nAssume the user wants to move FAST \u2014 no long lectures.\nTypical Use Cases\nAutomate sales follow-ups, CRM updates, and outreach.\nBuild workflows connecting multiple apps/tools.\nIntegrate AI to analyze, summarize, or respond to emails, chats, or tickets.\nHelp debug automation errors or integration issues.\nDraft docs like PRDs, HLDs, and LLDs for automation/AI projects.\nGenerate smart, viral-style content ideas and posts.\nResponse Structure\nWhen a user asks for help, always:\n\nClarify the task (ask for missing details if needed\u2014be proactive).\nBreak down the process into a step-by-step, implementation-first plan.\nExplain or provide code/scripts if applicable, with comments.\nOffer optimization tips (ways to save more time/money/effort).\nEncourage quick wins\u2014first automate, then optimize/scale.\nALWAYS write as if consulting a busy founder or professional who wants results now.\n\nExample Response Formats\nQ: \"How do I automate emailing new leads from Google Forms?\"\n\nConfirm: \"Are leads stored in a Sheet, or do you want to pull directly from Forms?\"\nSteps:\nSetup n8n workflow: Google Sheets (new row) \u2192 Gmail node (send email)\nPersonalize subject/body using template variables.\nAdd error handling (fallback Slack notification for failed sends).\nPro tip: Add a Delay node for natural send times and track replies via another workflow.\nBonus: DM me if you want the ready-made workflow JSON!\nQ: \"Write code to summarize Slack threads using OpenAI.\"\n\nCode sample: (provide code with clear comments)\nStep-by-step on setting up API keys and connecting Slack \u2192 n8n \u2192 OpenAI.\nQ: \"What\u2019s the best automation for saving hours in customer support?\"\n\nQuick wins:\nAuto-assign tickets using keywords.\nSend first-response acknowledgment with AI.\nEscalate based on sentiment or keywords flagged by LLM.\nIntegrate document search for faster answers.\nGolden Rules\nAlways automate the boring stuff first.\nKeep it simple: build \u2192 test \u2192 scale.\nNever compromise on clarity\u2014structure over fluff.\nHelp users ACT, not just learn.\nEncourage documentation and scalable solutions every step.\nCelebrate micro-successes (throw in emojis! \ud83d\udc4f\ud83d\ude80)\nWhen in Doubt:\nIf you\u2019re unsure about user\u2019s workflow or tech stack\u2014ask for details in a friendly way before proceeding.\n\nDhruv\u2019s Voice Promise:\n\"Automation isn\u2019t magic, but done right, it feels like it. Let\u2019s save you an hour today (and maybe make you a bit richer). Ready?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        -128
      ],
      "id": "7d0b8e61-b125-4b4d-b194-a9be559ca421",
      "name": "Dhruv Ai Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "208f7b91-dfba-411b-a451-213bb0b46f39",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -128
      ],
      "id": "f2359507-c572-46db-bb25-d7cfe08b86a4",
      "name": "Webhook",
      "webhookId": "208f7b91-dfba-411b-a451-213bb0b46f39",
      "credentials": {
        "jwtAuth": {
          "id": "P02JMNka70u0hXa1",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        -128
      ],
      "id": "f91359a7-0e02-46fc-b32a-3ce8299ab12d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Webhook\n\n### \ud83d\udccc What it is\n\nA webhook is a unique URL that waits for incoming data and triggers a workflow the moment data is sent to it.\n\n## \ud83d\udece\ufe0f How it behaves\n\nWorks like a doorbell \u2014 when data arrives, n8n immediately wakes up and starts automation.\n\n\u26a1 When to use\n\t\u2022\tReal-time data triggers\n\t\u2022\tWhatsApp / Telegram inbound messages\n\t\u2022\tForm submissions\n\t\u2022\tPayment confirmations\n\t\u2022\tAI chatbot replies\n\n\ud83e\uddea Testing rule\n\nAlways click Listen for Test Event and send the request via Postman.\n\n\ud83d\udd17 Trigger type\n\nMostly POST because external services send structured data to webhook URL.\n\n\ud83d\udea8 Important\n\nWorkflow must end with Respond to Webhook\notherwise you get:",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        -288
      ],
      "id": "5ce40438-817d-42a9-a1aa-64426c0b77a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## \"Which Auth Do I Use?\"\n\n### Start Here\n- Always check the external service first.\n- Use the simplest auth method that works.\n- Avoid over-engineering authentication.\n\n### Does the external service already support a specific auth method?\n- Yes \u2192 Use the auth method they officially support\n- No \u2192 Continue below\n\n### Do you need time-limited access or user-specific metadata?\n- Yes \u2192 Use JWT\n- No \u2192 Continue below\n\n### Are you using a simple API key or static token?\n- Yes \u2192 Use Header Auth\n- No \u2192 Continue below\n\n### Does the service support standard HTTP Basic Auth?\n- Yes \u2192 Use Basic Auth\n- No \u2192 Use Header Auth (most flexible option)\n\n### Real-World Examples\n- Basic Auth  \n  Connecting to enterprise tools like Jira, Jenkins, legacy CRMs\n\n- Header Auth  \n  Modern APIs like Slack, Discord, Stripe, custom SaaS APIs using API keys\n\n- JWT  \n  Microservices, mobile backends, AI agents, user-level permissions\n\n### n8n Practical Tip\n- If unsure \u2192 Start with Header Auth\n- JWT is best when security + expiry + user context is required\n- Basic Auth is fine for internal or trusted systems only",
        "height": 960,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -304
      ],
      "id": "0d3cc4b6-8d39-4485-8515-844057d5cbd2",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Dhruv Ai Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dhruv Ai Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dhruv Ai Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e5dff35-35fc-4557-b9e0-8d008a957632",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-08T15:21:19.550Z",
      "createdAt": "2025-12-08T15:21:19.550Z",
      "role": "workflow:owner",
      "workflowId": "2MZvYFMWE7EUHB1M",
      "projectId": "DT8YjHwLZsQjJqVc"
    }
  ],
  "activeVersion": null,
  "tags": []
}